// Breadcrumbs Component

#breadcrumbs
  margin: 30px 0

  span
    font-size: 1.5rem    
    img
      height: 8px
      margin: 0 10px

    a
      color: $font-dark-faded
      cursor: pointer
      font-size: 1.5rem
      transition: all 200ms ease-in

      &:hover 
        color: $color-green
