button
  cursor: pointer

.btn-main
  background: #9b8978
  border: none
  color: #ffffff
  font-size: 1.5rem
  padding: 5px 20px

.mobile-nav-btn
  position: absolute
  right: 20px
  top: 50%
  transform: translateY(-50%)
  width: 27px

// disabled buttons
a.disabled
  pointer-events: none
  background-color: #aaaaaa !important

.plain-button, a.back-button
  border: 1px solid $font-dark-faded
  color: $font-dark-faded
  font-size: 1.4rem
  padding: 2px 0px
  border-radius: 3px
  display: flex
  justify-content: center
  align-items: center
  cursor: pointer

.back-button-wrap
  display: inline-block

  a.back-button
    display: flex
    justify-content: around
    align-items: center
    padding: 2px 15px
    transition: all 200ms ease-in-out

    &:hover
      background-color: #aaa
      color: $color-white

    img
      margin-right: 6px
      //height: 10px !important
      width: 15px !important

section#commodity-information
  a.back-button
    img
      height: 13px !important

  .share-print-bar
    img
      height: 21px !important

.btn-standard-green, .btn-standard-white, .btn-standard-gray
  font-size: 1.4rem
  padding: 5px 30px
  border-radius: 3px
  display: flex
  justify-content: center
  align-items: center
  cursor: pointer
  transition: all 200ms ease-in

.btn-standard-green
  color: $color-white !important
  background-color: $color-green

  &:hover
    border: 1px solid $color-green
    background-color: $color-white
    text-decoration: none
    color: $color-green !important

.btn-standard-white
  border: 1px solid $color-green
  color: $color-green
  background-color: $color-white

  &:hover
    background-color: $color-green
    text-decoration: none
    color: $color-white !important

.btn-standard-gray
  color: $color-white
  background-color: $color-bg-gray

  &:hover
    text-decoration: none
    color: $color-green

a.more-btn
  cursor: pointer
  font-family: $font-english
  text-decoration: none
  color: #fff !important
  font-weight: 500
  text-transform: uppercase
  display: flex
  justify-content: center
  align-items: center
  width: 320px
  height: 40px
  border-radius: 2px
  background-color: $color-green
  transition: all 200ms ease-in-out

  &:hover
    color: $color-white
    box-shadow: 0 5px 5px rgba(#aaaaaa, 0.8)
    background-color: $color-dark-green

// Back to Top Button
.back-to-top-btn
  opacity: 0.6
  cursor: pointer
  position: fixed
  bottom: 30px
  right: 30px
  display: flex
  justify-content: center
  align-items: center
  background-size: cover
  width: 50px
  height: 50px
  z-index: 10

// ARROWS

.right-arrow-icon

.right-arrow-icon, .left-arrow-icon
  cursor: pointer
  background: url('/static/img/icons/circle-bg-green.png')
  width: 50px
  height: 50px
  repeat: no-repeat
  background-size: cover
  display: flex
  align-items: center
  justify-content: center

.tabs-menu
  cursor: pointer
  display: flex
  flex-direction: row
  justify-content: space-between
  align-items: center

.tab-btn
  display: flex
  justify-content: center
  align-items: center
  background-color: $color-gray
  height: 36px
  width: 80%
  margin-right: 10px
  border-radius: 4px
  transition: all 200ms ease-in-out

  &:hover
    background-color: $color-green

  a
    color: #fff

  &.active
    background-color: $color-green

.download-btn
  display: flex
  align-items: center
  justify-content: space-between
  padding: 0 20px
  width: 100%
  border: $font-dark-faded 1px solid
  border-radius: 3px
  color: $font-dark-faded
  background-color: $color-white
  max-width: 400px
  height: 40px
  transition: color 200ms ease-in-out

  &:hover
    color: $color-green

// circular buttons
.circular-btn-green, .circular-btn-plain
  font-size: 1.6rem
  padding-top: 4px
  padding-bottom: 4px
  padding-left: 14px
  padding-right: 4px
  border-radius: 20px
  transition: all 200ms ease-in-out

  img
    width: 30px
    margin-bottom: 3px

.circular-btn-green
  background-color: $color-green
  color: $color-white

  &:hover
    background-color: $color-dark-green
    color: $color-white
.fb-print-box
  padding-top: 2rem
  text-align: right
  button
    background-color: transparent
    border: none
    margin: 0 0.5rem
    span
      padding-bottom: 0
.online-buttonred
  background-color: transparent
  border: none
  margin: 0 0.5rem
  background-color: #df5927
  width: 11rem
  padding: 0.4rem
  border-radius: 5px
