.chatbot-service
  position: fixed
  right: 30px
  bottom: 100px
  z-index: 9999
  cursor: pointer
  opacity: 0.6
  img
    width: 50px

.chatbot-box
  width: 300px
  height: 450px
  // background-color: #f24
  position: fixed
  right: 20px
  bottom: 20px
  z-index: 9999
  border-radius: 10px
  box-shadow: 5px 5px 10px rgba(black,0.3)
  display: flex
  flex-direction: column
  box-sizing: border-box
  border: 1px solid #aaa

  .chatbot-icon
    position: absolute
    right: 47px
    top: -41px
    width: 60px

  .head
    padding: 8px 15px
    display: flex
    justify-content: space-between
    align-items: center
    background-color: #45afbc
    color: #fff
    border-radius: 10px 10px 0 0
    .close
      font-size: 1.5rem
      margin-right: 13px
      color: #fff
      transition: .3s
      cursor: pointer
      &:hover
        color: #aaa
    .title
      font-size: 1.6rem
      font-weight: bold
      display: flex
      align-items: center
    .subtitle
      font-size: 1.6rem

  .body
    background-color: #fef3d5
    height: 100%
    overflow-y: scroll
    padding: 20px 10px
    &::-webkit-scrollbar-track
      // border-radius: 10px !important
      background-color: #fef3d5 !important
      // -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3) !important

    &::-webkit-scrollbar
      display: block
      width: 6px !important
      background-color: #fef3d5 !important

    &::-webkit-scrollbar-thumb
      border-radius: 10px !important
      background-color: #fef3d5 !important
      // -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3) !importa
    .service
      display: flex
      justify-content: flex-start
      // align-items: flex-end
      margin-bottom: 10px
      img
        width: 100%
        height: 100%
        flex-shrink: 0
        max-width: 30px
        margin-right: 5px
      .time
        color: #888888
        font-size: 1.3rem
        margin-right: 3px
        align-self: flex-end
      .message
        background-color: #fff
        padding: 5px 8px
        border-radius: 3px
        max-width: 80%
        word-wrap: break-word //讓英文換行

    .client
      display: flex
      justify-content: flex-end
      align-items: flex-end
      margin-bottom: 10px
      .time
        color: #888888
        font-size: 1.3rem
        margin-right: 3px
      .message
        background-color: #0cccb2
        color: #fff
        padding: 5px 8px
        border-radius: 3px
        max-width: 80%
        word-wrap: break-word //讓英文換行

  .input-box
    background-color: #fff
    padding: 12px 10px
    box-sizing: border-box
    position: relative

    textarea,input
      width: 100%
      height: 40px
      border: 1px solid #0099da
      border-radius: 5px
      // margin: 6px
      padding: 6px 35px 6px 10px
      box-sizing: border-box
    button
      background: transparent
      border: 0px solid #000
      position: absolute
      top: 50%
      right: 15px
      width: 20px
      transform: translateY(-50%)
  .base
    background-color: #e6e6e6
    height: 50px
    border-radius: 0 0 10px 10px
