/* Forms, Input, and Select Styles */
section.sidebar
  select.form-control
    font-size: 1.6rem
    border-radius: 4px



form.content-form

label
  font-size: 1.6rem


// input search
.search 
  img
    width: 15px
    height: 15px

  input
    font-size: 1.6rem
    padding: 10px
    color: $font-dark-faded
    border: 1px solid $font-dark-faded


input.content-input, select.content-input, textarea.content-input
  border-radius: 4px 
  // border: 1px solid $font-dark-faded
  font-size: 1.6rem
  // padding: 13px 12px // temp

select.content-input
  height: 30px

.checkbox-wrap
  display: flex
  align-items: center

input[type="radio"]
  width: 30px
  display: inline-block

.validation-message
  color: $color-red



.submit-btn-wrap
  margin-top: 100px


// General Table Styles

table
  img.table-download-icon
    float: right
    margin-right: 6px



// language bar
select.language-selection
  padding: 0


