.paginate
  margin-top: 45px

ul.pagination
  font-family: 'Open Sans'
  text-transform: uppercase
  display: flex
  align-items: center
  justify-content: center
  //margin-left: 35px // to counter act the margin of individual buttons 50px that seperate each other
  li
    margin: 0 10px

    // color: $color-blue
    a
      cursor: pointer
      color: $font-dark-faded
      font-weight: 400
      transition: all 200ms ease-in-out
      // padding: 5px 13px
      border-radius: 3px
      font-size: 1.8rem
      &:hover
        color: $color-green

    &.active
      a
        background-color: #00a49b
        color: #fff
        padding: 5px 13px
    &:hover
      a
        background-color: #ddd

  li.previous
    // margin-right: 50px
    // height: 36px
    // width: 130px
    // background-color: $color-green
    // color: $color-blue
    border-radius: 3px
    display: flex
    align-items: center
    justify-content: center
    min-width: 8rem

    // &.disabled
    //   pointer-events: none
    //   border: 1px solid $color-green
    //   background-color: $color-white

    //   a
    //     color: $color-green

    a
      color: #00a49b
      font-weight: bold
      font-weight: 400
      font-size: 1.8rem
      width: 100%
      height: 100%
      display: flex
      justify-content: center
      align-items: center

  li.next
    // margin-left: 10px
    // height: 36px
    // width: 130px
    // background-color: $color-green
    border-radius: 3px
    display: flex
    align-items: center
    justify-content: center
    min-width: 8rem

    a
      color: #00a49b
      font-weight: bold
      font-weight: 400
      font-size: 1.8rem
      width: 100%
      height: 100%
      display: flex
      justify-content: center
      align-items: center
  
  &.theme-green
    li
      a
        color: green
      &.active
        a
          background-color: green
          color: #fff
.pagination-box
  p.previous
    color: #00a49b
