
.main-content  
  .left-nav
    background: #f3f0ec
    border-radius: 5px 5px 0 0
    padding: 0
    margin: 0 0 80px
    position: relative
    h2
      width: 85%
      margin: 0 auto 30px
      font-size: 2.2rem
      font-weight: 500
      text-align: center
      background: url('/static/img/bg/menu_title.png') center center / 100% 100% no-repeat
      padding: 2rem 0 3.5rem

    ul
      width: 94%
      list-style-type: none
      margin: 0 auto
      padding: 0      
      li
        border-bottom: 1px solid #e9e6e3
        a
          width: 100%
          display: block
          padding: 6px 
          margin: 5px 0
          color: #333333
          font-size: 1.8rem
          font-weight: 400         
          &.active, &:hover, &:focus
            background: url('/static/img/bg/menu_choice.png') center center / 100% 100% no-repeat
          &.file
            background: url('/static/img/icons/icon_link_menu.png') right 15px center no-repeat
            padding: 8px 50px 8px 8px
            &.active, &:hover, &:focus
              background: url('/static/img/icons/icon_link_menu.png') right 15px center no-repeat, url('/static/img/bg/menu_choice.png') center center / 100% 100% no-repeat
    &::before
      content: ''
      width: 100%
      height: 80px
      display: block
      background: url('/static/img/bg/menu_bottom.png') center bottom / 100% 100% no-repeat
      position: absolute
      left: 0
      bottom: -80px
  .sub-title.no-bb
    border-bottom: none
    padding: 0
  .sub-title
    border-bottom: 3px solid #0fd5d8
    padding: 0 0 1rem
    h3.width-long
      width: 265px
    h3.width-long-2 
      width: 290px
    h3
      width: 215px
      height: 55px
      display: block
      background: url('/static/img/bg/title.png') center center / 100% 100% no-repeat
      font-size: 2.8rem
      color: #ffffff
      font-weight: 350
      padding: 9px 0 0 20px
      &.title02
        width: 266px
        background: url('/static/img/bg/title02.png') center center / 100% 100% no-repeat
    ul
      list-style-type: none
      margin: 10px 0 0
      padding: 0
      li
        display: inline-block
      &.back-list
        li
          a
            width: 115px
            height: 36px
            margin: 0 0 0 25px
            display: inline-block
            b
              display: none
          &:nth-child(1)
            a              
              background: url('/static/img/bg/btn_last.png') center center / 100% 100% no-repeat
          &:nth-child(2)
            a
              width: 110px
              background: url('/static/img/bg/btn_list.png') center center / 100% 100% no-repeat
          &:nth-child(3)
            a
              background: url('/static/img/bg/btn_next.png') center center / 100% 100% no-repeat
      &.third-nav
        li
          a
            margin: 0 10px 0 0
            padding: 6px 35px 8px
            border-radius: 5px
            background: #bfe6ed
            color: #323c4b
            font-size: 2rem
            transition: 0.2s
            &.active, &:hover, &:focus
              color: #ffffff
              background: linear-gradient(to bottom, #0fd5d8 3%, #0191b4 100%)              
              font-weight: 400
            
//banner-inner
.banner-inner
  position: relative
  &::before
    content: ''
    width: 100%
    height: 310px
    background: url('/static/img/bg/banner-bg.png') center center / 100% 100% no-repeat
    position: absolute
    left: 0
    bottom: -1px
          

