//Settings for home Banner at Home  
.home-siler-dots
  position: relative
  .slick-dots
    position: absolute
    transform: translate(-50%, -50%)
    left: 50%
    bottom: 20%
  button
    width: 20px
    border: none
    background: transparent
    &:focus
      outline: 0
  .slick-dots li.slick-active button
    &::before
      color: #fff
      content: '\2B24'
      font-size: 1.325rem
      opacity: 1
      margin-top: -3px
      display: inline-block

  .slick-dots li button:before
    margin-top: 0px
    content: '\25CB'
    font-size: 1.6rem
    color: #fff

//Settings for videos Banner at Home
.videos-siler-dots
  .slick-dots li .slick-dots-button
    border-radius: 50%
    border: none
    background: transparent
    margin-right: 5px
    margin-left: 5px
    height: 30px
    width: 30px
    min-width: unset
    &:focus
      outline: 0
  .slick-dots
    li.slick-active .slick-dots-button
      background-color: #538c50
      color: white
      &::before
        content: ""
        display: inline-block
        background: url(/static/img/home/white-car.png) no-repeat center center
        background-size: 100%

  .slick-dots li .slick-dots-button:before
    position: absolute
    content: ""
    display: inline-block
    width: 22px
    height: 22px
    background: url(/static/img/home/car.png) no-repeat center center
    background-size: 100%

//Settings for Service Banner at Home
.service-arrows-triangle
  position: relative
  text-align: center
  button
    border: none
    padding: 0
    background: transparent
    width: 20px
    &:focus
      outline: 0
  .slick-prev
    position: absolute
    top: 55px
    left: -40px
  .slick-next
    position: absolute
    top: 55px
    right: -40px
  .slick-dots
    display: none

//Settings for Analysis Banner at Home  
.analysis-siler-dots
  button
    width: 30px
    border: none
    background: transparent
    &:focus
      outline: 0
  .slick-dots li.slick-active button
    &::before
      color: #fff
      content: '\25CF'
      font-size: 1.9rem
      opacity: 1

  .slick-dots li button:before
    content: '\25CF'
    font-size: 1.9rem
    color: #fff
    opacity: 0.5

  // 首頁圖表 圖片輪播
.homeSlider
  width: 100%
  .analysis-siler-dots
    .slick-slide
      padding: 20px
//Settings for info Img Banner at Home
.infoImg-arrows-triangle
  position: relative
  button
    border: none
    padding: 0
    background: transparent
    width: 12px
    &:focus
      outline: 0

  .slick-prev
    position: absolute
    left: 2%
    top: 50%
    z-index: 99

  .slick-next
    position: absolute
    right: 2%
    top: 50%
    z-index: 99

//Settings for footer info at Home
.footerinfo-arrows-triangle
  display: flex
  align-items: center
  position: relative
  .slick-slide
    display: flex
    justify-content: center
  .slick-arrow
    cursor: pointer
    a
      i
        padding: 0px 10px
        font-size: 2rem
  button
    width: 30px
    border: none
    background: transparent
    &:focus
      outline: 0
  .slick-dots
    position: absolute
    top: 105%
    left: 50%
    transform: translateX(-50%)

  .slick-dots li.slick-active button
    &::before
      color: #888888
      content: '\25CF'
      font-size: 1.5rem
      opacity: 1

  .slick-dots li button:before
    content: '\25CB'
    font-size: 1.5rem
    color: #888888

.alternative-arrows-triangle
  display: flex
  align-items: center
  position: relative
  .slick-slide
    display: flex
    justify-content: center
  .slick-arrow
    cursor: pointer
    a
      i
        padding: 0px 10px
        font-size: 2rem
  button
    width: 30px
    border: none
    background: transparent
    &:focus
      outline: 0
  .slick-dots
    position: absolute
    width: 100%
    top: 95%
    left: 50%
    transform: translateX(-50%)
    &::before
      margin-left: 30px
      display: block
      content: ""
      width: calc(100% - 60px)
      height: 1px
      background-color: rgba(0,0,0,0.09)
  .slick-dots li.slick-active button
    &::before
      color: #888888
      content: '\25CF'
      font-size: 1.5rem
      opacity: 1

  .slick-dots li button:before
    content: '\25CB'
    font-size: 1.5rem
    color: #888888
