

table
  a
    color: $font-dark-faded
    transition: color 200ms ease-in-out
    &:hover
      color: $font-dark
      


.table-style-1
  width: 90%
  background-color: #ffffff

  th
    border: 1px solid #88c0f5 !important

  td
    border: 1px solid #88c0f5

  
.table-custom
  min-width: 800px
  border-collapse: collapse
  &.full
    min-width: auto

  thead
    tr
      border: none
      th
        text-align: center
        vertical-align: middle
        border: 1px solid $color-bg-gray
        font-weight: 400
        color: $color-white
        background-color: $color-green

  tbody
    tr
      border: none
      td
        text-align: center
        vertical-align: middle
        border: none
        border: 1px solid $color-bg-gray
        font-weight: 400
        color: #26466f
        background: #f2f2f2

  .darkest
    background-color: #000000
    color: #ffffff

  .darker
    background-color: #26466f
    color: #ffffff

  .lighter
    background-color: #e2f2ff
    color: #26466f

  .dark
    background-color: #778597
    color: #ffffff

    &.active
      background-color: #55a5f0


.table-sorting 
  background: #f2f2f2
  div
    font-size: 1.5rem
  header div
    font-size: 1.8rem
  #column-date, #column-inFlow
    color: #ffffff
    background-color: #26466f
.download-list-detail-table-box
  margin-left: 5rem
  margin-top: 2rem
.table-style
  width: 100%
  color: #666
  border-bottom: 1px solid #f3f3f3
  td,th 
    padding: 2rem
    vertical-align: top
    font-size: 1.8rem
  td:nth-child(1)
    border-right: 2px solid #f3f3f3
    text-align: right
    width: 20rem
.table-str tbody tr
  &:nth-of-type(odd)
    background-color: #fbfbfb
.table-description
  padding-bottom: 2rem
  p 
    color: #333333
    font-size: 2.6rem !important
    padding-top: 5rem
    padding-bottom: 2rem
  span 
    color: #666666
    font-size: 2.2rem
    padding-bottom: 2rem
.table-update
  text-align: right
  padding: 2rem 0
.table-split
  span 
    display: block
@media screen and ( max-width: 992px )
  .download-list-detail-table-box
    margin-left: 0rem
  
@media screen and ( max-width: 768px )
  
  .table-style
    td,th 
      padding: 1rem
    td:nth-child(1)
      width: 14rem
@media screen and ( max-width: 576px)
  .table-style
    td,th 
      padding: 0.5rem
      font-size: 1.6rem
    td:nth-child(1)
      width: auto
    td:nth-child(1)
      width: 12rem
  .table-description
    p 
      font-size: 2rem !important
    span 
      font-size: 1.8rem

