
.tabs-menu-wrap
  padding: 0 15px

  .tabs-menu
    border-bottom: 2px solid $color-green

    .tab
      height: 50px
      width: 23%
      border-radius: 5px 5px 0 0
      color: $color-white
      font-weight: 500
      font-size: 1.6rem
      transition: all 150ms ease-in-out
      background-color: $color-gray
      display: flex
      justify-content: center
      align-items: center

      &.active 
        background-color: $color-green

      &:hover
        background-color: $color-dark-green
