/*************/
/* VARIABLES */
/*************/
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC:100,300,400,500,700,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&display=swap");
button {
  cursor: pointer;
}

.btn-main {
  background: #9b8978;
  border: none;
  color: #ffffff;
  font-size: 1.5rem;
  padding: 5px 20px;
}

.mobile-nav-btn {
  position: absolute;
  right: 20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 27px;
}

a.disabled {
  pointer-events: none;
  background-color: #aaaaaa !important;
}

.plain-button, a.back-button {
  border: 1px solid rgba(50, 60, 75, 0.8);
  color: rgba(50, 60, 75, 0.8);
  font-size: 1.4rem;
  padding: 2px 0px;
  border-radius: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.back-button-wrap {
  display: inline-block;
}

.back-button-wrap a.back-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: around;
      -ms-flex-pack: around;
          justify-content: around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2px 15px;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.back-button-wrap a.back-button:hover {
  background-color: #aaa;
  color: #FFFFFF;
}

.back-button-wrap a.back-button img {
  margin-right: 6px;
  width: 15px !important;
}

section#commodity-information a.back-button img {
  height: 13px !important;
}

section#commodity-information .share-print-bar img {
  height: 21px !important;
}

.btn-standard-green, .btn-standard-white, .btn-standard-gray {
  font-size: 1.4rem;
  padding: 5px 30px;
  border-radius: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
}

.btn-standard-green {
  color: #FFFFFF !important;
  background-color: #32a532;
}

.btn-standard-green:hover {
  border: 1px solid #32a532;
  background-color: #FFFFFF;
  text-decoration: none;
  color: #32a532 !important;
}

.btn-standard-white {
  border: 1px solid #32a532;
  color: #32a532;
  background-color: #FFFFFF;
}

.btn-standard-white:hover {
  background-color: #32a532;
  text-decoration: none;
  color: #FFFFFF !important;
}

.btn-standard-gray {
  color: #FFFFFF;
  background-color: #dadcda;
}

.btn-standard-gray:hover {
  text-decoration: none;
  color: #32a532;
}

a.more-btn {
  cursor: pointer;
  font-family: "Open Sans";
  text-decoration: none;
  color: #fff !important;
  font-weight: 500;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 320px;
  height: 40px;
  border-radius: 2px;
  background-color: #32a532;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

a.more-btn:hover {
  color: #FFFFFF;
  -webkit-box-shadow: 0 5px 5px rgba(170, 170, 170, 0.8);
          box-shadow: 0 5px 5px rgba(170, 170, 170, 0.8);
  background-color: #25721f;
}

.back-to-top-btn {
  opacity: 0.6;
  cursor: pointer;
  position: fixed;
  bottom: 30px;
  right: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-size: cover;
  width: 50px;
  height: 50px;
  z-index: 10;
}

.right-arrow-icon, .left-arrow-icon {
  cursor: pointer;
  background: url("/static/img/icons/circle-bg-green.png");
  width: 50px;
  height: 50px;
  repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.tabs-menu {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tab-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #cfcfcf;
  height: 36px;
  width: 80%;
  margin-right: 10px;
  border-radius: 4px;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.tab-btn:hover {
  background-color: #32a532;
}

.tab-btn a {
  color: #fff;
}

.tab-btn.active {
  background-color: #32a532;
}

.download-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 20px;
  width: 100%;
  border: rgba(50, 60, 75, 0.8) 1px solid;
  border-radius: 3px;
  color: rgba(50, 60, 75, 0.8);
  background-color: #FFFFFF;
  max-width: 400px;
  height: 40px;
  -webkit-transition: color 200ms ease-in-out;
  transition: color 200ms ease-in-out;
}

.download-btn:hover {
  color: #32a532;
}

.circular-btn-green, .circular-btn-plain {
  font-size: 1.6rem;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 14px;
  padding-right: 4px;
  border-radius: 20px;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.circular-btn-green img, .circular-btn-plain img {
  width: 30px;
  margin-bottom: 3px;
}

.circular-btn-green {
  background-color: #32a532;
  color: #FFFFFF;
}

.circular-btn-green:hover {
  background-color: #25721f;
  color: #FFFFFF;
}

.fb-print-box {
  padding-top: 2rem;
  text-align: right;
}

.fb-print-box button {
  background-color: transparent;
  border: none;
  margin: 0 0.5rem;
}

.fb-print-box button span {
  padding-bottom: 0;
}

.online-buttonred {
  background-color: transparent;
  border: none;
  margin: 0 0.5rem;
  background-color: #df5927;
  width: 11rem;
  padding: 0.4rem;
  border-radius: 5px;
}

.tabs-menu-wrap {
  padding: 0 15px;
}

.tabs-menu-wrap .tabs-menu {
  border-bottom: 2px solid #32a532;
}

.tabs-menu-wrap .tabs-menu .tab {
  height: 50px;
  width: 23%;
  border-radius: 5px 5px 0 0;
  color: #FFFFFF;
  font-weight: 500;
  font-size: 1.6rem;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
  background-color: #cfcfcf;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tabs-menu-wrap .tabs-menu .tab.active {
  background-color: #32a532;
}

.tabs-menu-wrap .tabs-menu .tab:hover {
  background-color: #25721f;
}

input {
  padding: 0 10px;
}

/* Make clicks pass-through */
#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: #29d;
  position: fixed;
  z-index: 1300;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
}

/* Fancy blur effect */
#nprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  -webkit-box-shadow: 0 0 10px #29d, 0 0 5px #29d;
          box-shadow: 0 0 10px #29d, 0 0 5px #29d;
  opacity: 1.0;
  -webkit-transform: rotate(3deg) translate(0px, -4px);
  transform: rotate(3deg) translate(0px, -4px);
}

/* Remove these to get rid of the spinner */
#nprogress .spinner {
  display: block;
  position: fixed;
  z-index: 1300;
  top: 15px;
  right: 15px;
}

#nprogress .spinner-icon {
  width: 18px;
  height: 18px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: solid 2px transparent;
  border-top-color: #29d;
  border-left-color: #29d;
  border-radius: 50%;
  -webkit-animation: nprogress-spinner 400ms linear infinite;
  animation: nprogress-spinner 400ms linear infinite;
}

.nprogress-custom-parent {
  overflow: hidden;
  position: relative;
}

.nprogress-custom-parent #nprogress .spinner,
.nprogress-custom-parent #nprogress .bar {
  position: absolute;
}

@-webkit-keyframes nprogress-spinner {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes nprogress-spinner {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

#breadcrumbs {
  margin: 30px 0;
}

#breadcrumbs span {
  font-size: 1.5rem;
}

#breadcrumbs span img {
  height: 8px;
  margin: 0 10px;
}

#breadcrumbs span a {
  color: rgba(50, 60, 75, 0.8);
  cursor: pointer;
  font-size: 1.5rem;
  -webkit-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
}

#breadcrumbs span a:hover {
  color: #32a532;
}

/* Forms, Input, and Select Styles */
section.sidebar select.form-control {
  font-size: 1.6rem;
  border-radius: 4px;
}

label {
  font-size: 1.6rem;
}

.search img {
  width: 15px;
  height: 15px;
}

.search input {
  font-size: 1.6rem;
  padding: 10px;
  color: rgba(50, 60, 75, 0.8);
  border: 1px solid rgba(50, 60, 75, 0.8);
}

input.content-input, select.content-input, textarea.content-input {
  border-radius: 4px;
  font-size: 1.6rem;
}

select.content-input {
  height: 30px;
}

.checkbox-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

input[type="radio"] {
  width: 30px;
  display: inline-block;
}

.validation-message {
  color: #cf3631;
}

.submit-btn-wrap {
  margin-top: 100px;
}

table img.table-download-icon {
  float: right;
  margin-right: 6px;
}

select.language-selection {
  padding: 0;
}

table a {
  color: rgba(50, 60, 75, 0.8);
  -webkit-transition: color 200ms ease-in-out;
  transition: color 200ms ease-in-out;
}

table a:hover {
  color: #323c4b;
}

.table-style-1 {
  width: 90%;
  background-color: #ffffff;
}

.table-style-1 th {
  border: 1px solid #88c0f5 !important;
}

.table-style-1 td {
  border: 1px solid #88c0f5;
}

.table-custom {
  min-width: 800px;
  border-collapse: collapse;
}

.table-custom.full {
  min-width: auto;
}

.table-custom thead tr {
  border: none;
}

.table-custom thead tr th {
  text-align: center;
  vertical-align: middle;
  border: 1px solid #dadcda;
  font-weight: 400;
  color: #FFFFFF;
  background-color: #32a532;
}

.table-custom tbody tr {
  border: none;
}

.table-custom tbody tr td {
  text-align: center;
  vertical-align: middle;
  border: none;
  border: 1px solid #dadcda;
  font-weight: 400;
  color: #26466f;
  background: #f2f2f2;
}

.table-custom .darkest {
  background-color: #000000;
  color: #ffffff;
}

.table-custom .darker {
  background-color: #26466f;
  color: #ffffff;
}

.table-custom .lighter {
  background-color: #e2f2ff;
  color: #26466f;
}

.table-custom .dark {
  background-color: #778597;
  color: #ffffff;
}

.table-custom .dark.active {
  background-color: #55a5f0;
}

.table-sorting {
  background: #f2f2f2;
}

.table-sorting div {
  font-size: 1.5rem;
}

.table-sorting header div {
  font-size: 1.8rem;
}

.table-sorting #column-date, .table-sorting #column-inFlow {
  color: #ffffff;
  background-color: #26466f;
}

.download-list-detail-table-box {
  margin-left: 5rem;
  margin-top: 2rem;
}

.table-style {
  width: 100%;
  color: #666;
  border-bottom: 1px solid #f3f3f3;
}

.table-style td, .table-style th {
  padding: 2rem;
  vertical-align: top;
  font-size: 1.8rem;
}

.table-style td:nth-child(1) {
  border-right: 2px solid #f3f3f3;
  text-align: right;
  width: 20rem;
}

.table-str tbody tr:nth-of-type(odd) {
  background-color: #fbfbfb;
}

.table-description {
  padding-bottom: 2rem;
}

.table-description p {
  color: #333333;
  font-size: 2.6rem !important;
  padding-top: 5rem;
  padding-bottom: 2rem;
}

.table-description span {
  color: #666666;
  font-size: 2.2rem;
  padding-bottom: 2rem;
}

.table-update {
  text-align: right;
  padding: 2rem 0;
}

.table-split span {
  display: block;
}

@media screen and (max-width: 992px) {
  .download-list-detail-table-box {
    margin-left: 0rem;
  }
}

@media screen and (max-width: 768px) {
  .table-style td, .table-style th {
    padding: 1rem;
  }
  .table-style td:nth-child(1) {
    width: 14rem;
  }
}

@media screen and (max-width: 576px) {
  .table-style td, .table-style th {
    padding: 0.5rem;
    font-size: 1.6rem;
  }
  .table-style td:nth-child(1) {
    width: auto;
  }
  .table-style td:nth-child(1) {
    width: 12rem;
  }
  .table-description p {
    font-size: 2rem !important;
  }
  .table-description span {
    font-size: 1.8rem;
  }
}

.main-content .left-nav {
  background: #f3f0ec;
  border-radius: 5px 5px 0 0;
  padding: 0;
  margin: 0 0 80px;
  position: relative;
}

.main-content .left-nav h2 {
  width: 85%;
  margin: 0 auto 30px;
  font-size: 2.2rem;
  font-weight: 500;
  text-align: center;
  background: url("/static/img/bg/menu_title.png") center center/100% 100% no-repeat;
  padding: 2rem 0 3.5rem;
}

.main-content .left-nav ul {
  width: 94%;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
}

.main-content .left-nav ul li {
  border-bottom: 1px solid #e9e6e3;
}

.main-content .left-nav ul li a {
  width: 100%;
  display: block;
  padding: 6px;
  margin: 5px 0;
  color: #333333;
  font-size: 1.8rem;
  font-weight: 400;
}

.main-content .left-nav ul li a.active, .main-content .left-nav ul li a:hover, .main-content .left-nav ul li a:focus {
  background: url("/static/img/bg/menu_choice.png") center center/100% 100% no-repeat;
}

.main-content .left-nav ul li a.file {
  background: url("/static/img/icons/icon_link_menu.png") right 15px center no-repeat;
  padding: 8px 50px 8px 8px;
}

.main-content .left-nav ul li a.file.active, .main-content .left-nav ul li a.file:hover, .main-content .left-nav ul li a.file:focus {
  background: url("/static/img/icons/icon_link_menu.png") right 15px center no-repeat, url("/static/img/bg/menu_choice.png") center center/100% 100% no-repeat;
}

.main-content .left-nav::before {
  content: '';
  width: 100%;
  height: 80px;
  display: block;
  background: url("/static/img/bg/menu_bottom.png") center bottom/100% 100% no-repeat;
  position: absolute;
  left: 0;
  bottom: -80px;
}

.main-content .sub-title.no-bb {
  border-bottom: none;
  padding: 0;
}

.main-content .sub-title {
  border-bottom: 3px solid #0fd5d8;
  padding: 0 0 1rem;
}

.main-content .sub-title h3.width-long {
  width: 265px;
}

.main-content .sub-title h3.width-long-2 {
  width: 290px;
}

.main-content .sub-title h3 {
  width: 215px;
  height: 55px;
  display: block;
  background: url("/static/img/bg/title.png") center center/100% 100% no-repeat;
  font-size: 2.8rem;
  color: #ffffff;
  font-weight: 350;
  padding: 9px 0 0 20px;
}

.main-content .sub-title h3.title02 {
  width: 266px;
  background: url("/static/img/bg/title02.png") center center/100% 100% no-repeat;
}

.main-content .sub-title ul {
  list-style-type: none;
  margin: 10px 0 0;
  padding: 0;
}

.main-content .sub-title ul li {
  display: inline-block;
}

.main-content .sub-title ul.back-list li a {
  width: 115px;
  height: 36px;
  margin: 0 0 0 25px;
  display: inline-block;
}

.main-content .sub-title ul.back-list li a b {
  display: none;
}

.main-content .sub-title ul.back-list li:nth-child(1) a {
  background: url("/static/img/bg/btn_last.png") center center/100% 100% no-repeat;
}

.main-content .sub-title ul.back-list li:nth-child(2) a {
  width: 110px;
  background: url("/static/img/bg/btn_list.png") center center/100% 100% no-repeat;
}

.main-content .sub-title ul.back-list li:nth-child(3) a {
  background: url("/static/img/bg/btn_next.png") center center/100% 100% no-repeat;
}

.main-content .sub-title ul.third-nav li a {
  margin: 0 10px 0 0;
  padding: 6px 35px 8px;
  border-radius: 5px;
  background: #bfe6ed;
  color: #323c4b;
  font-size: 2rem;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.main-content .sub-title ul.third-nav li a.active, .main-content .sub-title ul.third-nav li a:hover, .main-content .sub-title ul.third-nav li a:focus {
  color: #ffffff;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(3%, #0fd5d8), to(#0191b4));
  background: linear-gradient(to bottom, #0fd5d8 3%, #0191b4 100%);
  font-weight: 400;
}

.banner-inner {
  position: relative;
}

.banner-inner::before {
  content: '';
  width: 100%;
  height: 310px;
  background: url("/static/img/bg/banner-bg.png") center center/100% 100% no-repeat;
  position: absolute;
  left: 0;
  bottom: -1px;
}

.paginate {
  margin-top: 45px;
}

ul.pagination {
  font-family: 'Open Sans';
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

ul.pagination li {
  margin: 0 10px;
}

ul.pagination li a {
  cursor: pointer;
  color: rgba(50, 60, 75, 0.8);
  font-weight: 400;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  border-radius: 3px;
  font-size: 1.8rem;
}

ul.pagination li a:hover {
  color: #32a532;
}

ul.pagination li.active a {
  background-color: #00a49b;
  color: #fff;
  padding: 5px 13px;
}

ul.pagination li:hover a {
  background-color: #ddd;
}

ul.pagination li.previous {
  border-radius: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 8rem;
}

ul.pagination li.previous a {
  color: #00a49b;
  font-weight: bold;
  font-weight: 400;
  font-size: 1.8rem;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

ul.pagination li.next {
  border-radius: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 8rem;
}

ul.pagination li.next a {
  color: #00a49b;
  font-weight: bold;
  font-weight: 400;
  font-size: 1.8rem;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

ul.pagination.theme-green li a {
  color: green;
}

ul.pagination.theme-green li.active a {
  background-color: green;
  color: #fff;
}

.pagination-box p.previous {
  color: #00a49b;
}

.home-siler-dots {
  position: relative;
}

.home-siler-dots .slick-dots {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  left: 50%;
  bottom: 20%;
}

.home-siler-dots button {
  width: 20px;
  border: none;
  background: transparent;
}

.home-siler-dots button:focus {
  outline: 0;
}

.home-siler-dots .slick-dots li.slick-active button::before {
  color: #fff;
  content: '\2B24';
  font-size: 1.325rem;
  opacity: 1;
  margin-top: -3px;
  display: inline-block;
}

.home-siler-dots .slick-dots li button:before {
  margin-top: 0px;
  content: '\25CB';
  font-size: 1.6rem;
  color: #fff;
}

.videos-siler-dots .slick-dots li .slick-dots-button {
  border-radius: 50%;
  border: none;
  background: transparent;
  margin-right: 5px;
  margin-left: 5px;
  height: 30px;
  width: 30px;
  min-width: unset;
}

.videos-siler-dots .slick-dots li .slick-dots-button:focus {
  outline: 0;
}

.videos-siler-dots .slick-dots li.slick-active .slick-dots-button {
  background-color: #538c50;
  color: white;
}

.videos-siler-dots .slick-dots li.slick-active .slick-dots-button::before {
  content: "";
  display: inline-block;
  background: url(/static/img/home/white-car.png) no-repeat center center;
  background-size: 100%;
}

.videos-siler-dots .slick-dots li .slick-dots-button:before {
  position: absolute;
  content: "";
  display: inline-block;
  width: 22px;
  height: 22px;
  background: url(/static/img/home/car.png) no-repeat center center;
  background-size: 100%;
}

.service-arrows-triangle {
  position: relative;
  text-align: center;
}

.service-arrows-triangle button {
  border: none;
  padding: 0;
  background: transparent;
  width: 20px;
}

.service-arrows-triangle button:focus {
  outline: 0;
}

.service-arrows-triangle .slick-prev {
  position: absolute;
  top: 55px;
  left: -40px;
}

.service-arrows-triangle .slick-next {
  position: absolute;
  top: 55px;
  right: -40px;
}

.service-arrows-triangle .slick-dots {
  display: none;
}

.analysis-siler-dots button {
  width: 30px;
  border: none;
  background: transparent;
}

.analysis-siler-dots button:focus {
  outline: 0;
}

.analysis-siler-dots .slick-dots li.slick-active button::before {
  color: #fff;
  content: '\25CF';
  font-size: 1.9rem;
  opacity: 1;
}

.analysis-siler-dots .slick-dots li button:before {
  content: '\25CF';
  font-size: 1.9rem;
  color: #fff;
  opacity: 0.5;
}

.homeSlider {
  width: 100%;
}

.homeSlider .analysis-siler-dots .slick-slide {
  padding: 20px;
}

.infoImg-arrows-triangle {
  position: relative;
}

.infoImg-arrows-triangle button {
  border: none;
  padding: 0;
  background: transparent;
  width: 12px;
}

.infoImg-arrows-triangle button:focus {
  outline: 0;
}

.infoImg-arrows-triangle .slick-prev {
  position: absolute;
  left: 2%;
  top: 50%;
  z-index: 99;
}

.infoImg-arrows-triangle .slick-next {
  position: absolute;
  right: 2%;
  top: 50%;
  z-index: 99;
}

.footerinfo-arrows-triangle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.footerinfo-arrows-triangle .slick-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footerinfo-arrows-triangle .slick-arrow {
  cursor: pointer;
}

.footerinfo-arrows-triangle .slick-arrow a i {
  padding: 0px 10px;
  font-size: 2rem;
}

.footerinfo-arrows-triangle button {
  width: 30px;
  border: none;
  background: transparent;
}

.footerinfo-arrows-triangle button:focus {
  outline: 0;
}

.footerinfo-arrows-triangle .slick-dots {
  position: absolute;
  top: 105%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.footerinfo-arrows-triangle .slick-dots li.slick-active button::before {
  color: #888888;
  content: '\25CF';
  font-size: 1.5rem;
  opacity: 1;
}

.footerinfo-arrows-triangle .slick-dots li button:before {
  content: '\25CB';
  font-size: 1.5rem;
  color: #888888;
}

.alternative-arrows-triangle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.alternative-arrows-triangle .slick-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.alternative-arrows-triangle .slick-arrow {
  cursor: pointer;
}

.alternative-arrows-triangle .slick-arrow a i {
  padding: 0px 10px;
  font-size: 2rem;
}

.alternative-arrows-triangle button {
  width: 30px;
  border: none;
  background: transparent;
}

.alternative-arrows-triangle button:focus {
  outline: 0;
}

.alternative-arrows-triangle .slick-dots {
  position: absolute;
  width: 100%;
  top: 95%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.alternative-arrows-triangle .slick-dots::before {
  margin-left: 30px;
  display: block;
  content: "";
  width: calc(100% - 60px);
  height: 1px;
  background-color: rgba(0, 0, 0, 0.09);
}

.alternative-arrows-triangle .slick-dots li.slick-active button::before {
  color: #888888;
  content: '\25CF';
  font-size: 1.5rem;
  opacity: 1;
}

.alternative-arrows-triangle .slick-dots li button:before {
  content: '\25CB';
  font-size: 1.5rem;
  color: #888888;
}

.chatbot-service {
  position: fixed;
  right: 30px;
  bottom: 100px;
  z-index: 9999;
  cursor: pointer;
  opacity: 0.6;
}

.chatbot-service img {
  width: 50px;
}

.chatbot-box {
  width: 300px;
  height: 450px;
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 9999;
  border-radius: 10px;
  -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #aaa;
}

.chatbot-box .chatbot-icon {
  position: absolute;
  right: 47px;
  top: -41px;
  width: 60px;
}

.chatbot-box .head {
  padding: 8px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #45afbc;
  color: #fff;
  border-radius: 10px 10px 0 0;
}

.chatbot-box .head .close {
  font-size: 1.5rem;
  margin-right: 13px;
  color: #fff;
  -webkit-transition: .3s;
  transition: .3s;
  cursor: pointer;
}

.chatbot-box .head .close:hover {
  color: #aaa;
}

.chatbot-box .head .title {
  font-size: 1.6rem;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.chatbot-box .head .subtitle {
  font-size: 1.6rem;
}

.chatbot-box .body {
  background-color: #fef3d5;
  height: 100%;
  overflow-y: scroll;
  padding: 20px 10px;
}

.chatbot-box .body::-webkit-scrollbar-track {
  background-color: #fef3d5 !important;
}

.chatbot-box .body::-webkit-scrollbar {
  display: block;
  width: 6px !important;
  background-color: #fef3d5 !important;
}

.chatbot-box .body::-webkit-scrollbar-thumb {
  border-radius: 10px !important;
  background-color: #fef3d5 !important;
}

.chatbot-box .body .service {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: 10px;
}

.chatbot-box .body .service img {
  width: 100%;
  height: 100%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  max-width: 30px;
  margin-right: 5px;
}

.chatbot-box .body .service .time {
  color: #888888;
  font-size: 1.3rem;
  margin-right: 3px;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.chatbot-box .body .service .message {
  background-color: #fff;
  padding: 5px 8px;
  border-radius: 3px;
  max-width: 80%;
  word-wrap: break-word;
}

.chatbot-box .body .client {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-bottom: 10px;
}

.chatbot-box .body .client .time {
  color: #888888;
  font-size: 1.3rem;
  margin-right: 3px;
}

.chatbot-box .body .client .message {
  background-color: #0cccb2;
  color: #fff;
  padding: 5px 8px;
  border-radius: 3px;
  max-width: 80%;
  word-wrap: break-word;
}

.chatbot-box .input-box {
  background-color: #fff;
  padding: 12px 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
}

.chatbot-box .input-box textarea, .chatbot-box .input-box input {
  width: 100%;
  height: 40px;
  border: 1px solid #0099da;
  border-radius: 5px;
  padding: 6px 35px 6px 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.chatbot-box .input-box button {
  background: transparent;
  border: 0px solid #000;
  position: absolute;
  top: 50%;
  right: 15px;
  width: 20px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.chatbot-box .base {
  background-color: #e6e6e6;
  height: 50px;
  border-radius: 0 0 10px 10px;
}

.form-validation {
  color: red;
}

.MuiDrawer-paper .mobile-margin {
  margin: 0px 20px 0px 0px;
}

.MuiDrawer-paperAnchorRight .mobile-nav-link {
  margin: 0px 20px 0px 0px;
}

.bg-shadow-03 {
  position: relative;
  min-height: 30vw;
  z-index: 2;
}

.bg-shadow-03 .img-static-03 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 0;
  height: 30vw;
}

.slider-line {
  position: absolute;
  left: 50%;
  top: -105%;
  z-index: 10;
}

.slider-line .white-line {
  border: solid 2px white;
  height: 2vw;
}

.slider-line .blue-line {
  border: solid 2px #4569a3;
  height: 10vw;
}

.additional-section {
  background: #f3ead8;
  padding-bottom: 50px;
  position: relative;
  z-index: 1;
  margin-top: -20px;
}

.additional-section .big-wrapper {
  position: relative;
}

.additional-section .wrapper-green-part {
  padding: 20px;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#defb80), color-stop(#cff68a), color-stop(#c3f093), color-stop(#b8ea9b), to(#afe4a2));
  background-image: linear-gradient(to right bottom, #defb80, #cff68a, #c3f093, #b8ea9b, #afe4a2);
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 10px;
  z-index: 1;
  position: relative;
}

.additional-section .wrapper-green-left {
  background-color: #defb80;
  position: absolute;
  z-index: 0;
  padding: 3%;
  text-align: center;
  border-radius: 10px 10px 0px 0px;
  left: 2%;
  top: -18%;
  font-size: 1.8rem;
  height: 100px;
}

.additional-section .wrapper-green-right {
  background-image: linear-gradient(134deg, #fff253 -18%, #e8b323 198%, #de980e 309%);
  position: absolute;
  z-index: 0;
  padding: 3%;
  text-align: center;
  border-radius: 10px 10px 0px 0px;
  left: 38%;
  top: -18%;
  font-size: 1.8rem;
  height: 100px;
}

.additional-section .wrapper-green {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.additional-section .wrapper-green img {
  width: 30%;
  -webkit-box-shadow: 5px 5px 8px #333333;
          box-shadow: 5px 5px 8px #333333;
}

.additional-section .wrapper-green .wrapper-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 35px;
}

.paragraph {
  line-height: 28px;
  color: #666666;
}

.title-tosca {
  color: #0fd5d8;
  font-size: 2.2rem;
}

section#home-banner {
  position: relative;
  margin-top: 77px;
}

section#home-banner .banner-wrap .banner-image {
  position: relative;
  padding: 55px;
}

section#home-banner .banner-wrap h2 {
  color: #ffffff;
  font-size: 7rem;
  font-weight: 100;
  margin-bottom: 0;
  font-family: 'Alcubierre';
  letter-spacing: 4px;
}

section#home-banner .banner-wrap h2 span {
  font-size: 3rem;
}

section#home-banner .banner-wrap p {
  margin-top: 0;
  font-size: 5.3rem;
  font-weight: 400;
  color: #000000;
  letter-spacing: 4px;
}

.main-content .section-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Open Sans";
  position: relative;
  margin: 40px 0;
  margin-bottom: 20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 4%;
}

.main-content .section-title.absolute {
  position: absolute;
  margin: 15px 0;
}

.main-content .section-title h3 {
  color: #323c4b;
  font-size: 3rem;
}

.main-content .section-title h4.english-title {
  display: block;
  color: #32a532;
  font-size: 1.6rem;
  text-transform: uppercase;
}

.mobile-lastest-video {
  position: relative;
}

.mobile-lastest-video .mobile-news {
  background-color: #fff;
  width: 105%;
  position: absolute;
  z-index: 2;
  top: 30px;
  left: -5px;
  font-size: 1.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mobile-lastest-video .mobile-new-tab {
  background-color: #BCE3DE;
  padding: 1px 5px;
  border-radius: 4px;
}

.mobile-lastest-video .close-mobile-news i {
  font-size: 3rem;
  color: #666666;
  position: absolute;
  top: -15px;
  right: 60px;
  cursor: pointer;
}

.modal {
  background: rgba(0, 0, 0, 0.4);
}

.modal-backdrop {
  z-index: 0 !important;
}

.modal-news-tab {
  background-image: url(/static/img/home/modal-new.png);
  background-position: center;
  background-size: contain;
  width: 15%;
  height: 3vw;
  background-repeat: no-repeat;
  line-height: 45px;
  margin-left: 5%;
  color: #fff;
  font-size: 1.6rem;
  position: absolute;
  top: -12px;
}

.modal-header {
  margin-top: 5%;
}

.modal-title {
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 1.35;
  letter-spacing: 0.68px;
  text-align: left;
  margin-left: 5%;
}

.modal-content .close {
  position: absolute;
  right: -16px;
  font-size: 4rem;
  background: #fff;
  border-radius: 50px;
  -webkit-box-shadow: 0px 1px 2px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 2px 2px rgba(0, 0, 0, 0.2);
  width: 35px;
  height: 35px;
  top: -19px;
  opacity: 1;
}

.modal-content .close span {
  display: block;
  margin-top: 2px;
  color: #9D9897;
  font-size: 1.8rem;
}

.modal-content hr {
  border: 1px solid #009A9F;
  width: 95%;
  margin: auto;
}

.modal-dialog {
  max-width: 800px !important;
}

.modal-header {
  border-bottom: none !important;
}

.modal-body p {
  padding: 10px 4%;
  text-align: justify;
}

.modal-img {
  padding: 10px 4%;
}

.modal-img img {
  width: 50%;
}

.modal-img span {
  text-align: left;
}

.modal-qrcode {
  text-align: end;
  margin-top: 40px;
}

.modal-final-time {
  text-align: end;
  padding: 10px 4%;
  border-bottom: 1px solid #dee2e6;
}

.modal-footer {
  border-top: none !important;
}

.modal-post-info {
  text-align: end;
  padding: 10px 4%;
}

.modal-footer {
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
}

.modal-footer button {
  background-color: #3a789a;
  width: 10%;
}

#PublicTransport .transport-input {
  width: 242px;
  height: 50px;
  border-radius: 2.2px;
  border: solid 1.2px #e0e0e0;
  background-color: #ffffff;
  margin-top: 10px;
  position: relative;
}

#PublicTransport .transport-input input {
  border: none;
  width: 100%;
  padding: 5% 10%;
}

#PublicTransport .transport-input::after {
  position: absolute;
  content: '';
  background-image: url("/static/img/icons/Path 1441.png");
  width: 25px;
  height: 25px;
  background-repeat: no-repeat;
  right: 0px;
  top: 0px;
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
}

#PublicTransport .transport-wrap ul {
  list-style: none;
  width: 100%;
}

#PublicTransport .transport-wrap ul li {
  font-size: 2rem;
  color: #ffffff;
  font-weight: 350;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0% 5% 0% 2%;
  margin-bottom: 10px;
}

#PublicTransport .transport-wrap ul a {
  font-weight: 300;
  line-height: 2.95;
  letter-spacing: 0.4px;
  color: #333333;
}

#PublicTransport .transport-wrap li:nth-child(odd) {
  background-image: url("/static/img/home/transport-black.png");
}

#PublicTransport .transport-wrap li:nth-child(even) {
  background-image: url("/static/img/home/transport-light.png");
}

.menu-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.menu-page a {
  margin: 0 1rem;
}

.hr-style {
  color: #0fd5d8;
  border: 1px solid;
  width: 100%;
  margin: 1rem auto;
}

#videos .video-img-box-all {
  padding-right: 4rem;
  padding-left: 4rem;
  margin: 2rem 0;
}

#videos .video-img-box {
  height: 25rem;
  border: 1px solid #c5c5c5;
}

#videos .other {
  text-align: right;
  color: rgba(50, 60, 75, 0.8);
}

#videos-detail .video-iframe {
  margin-top: 2rem;
}

#videos-detail .video-iframe iframe {
  height: 50rem;
}

#videos-detail hr {
  border: 1px solid #e9e7e7;
  width: 100%;
}

#videos-detail .update-time {
  text-align: right;
}

.first-menu-page-list {
  position: relative;
  margin: 1rem 0;
}

.first-menu-page-list::before {
  content: '';
  position: absolute;
  width: 1.5rem;
  height: 100%;
  background: #ffcc34;
}

.first-menu-page-list span {
  color: #333333;
  font-size: 1.8rem;
  font-weight: 500;
  margin-top: 0;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 15%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.first-menu-page-list img::before {
  content: '';
  width: 1rem;
  height: 5rem;
  color: red;
}

.wrapper-facebook {
  padding-right: 0;
  padding-left: 0;
}

.footer-page-style {
  letter-spacing: 3px;
  list-style-position: inside;
}

.footer-page-style .date {
  text-align: right;
}

.footer-page-style ul.li-style-none {
  list-style: none;
}

.footer-page-style li {
  padding: 1rem 0;
}

.footer-page-style .arrow {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background: #F2F1F0;
  position: relative;
  padding-left: 0;
  margin: 2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-page-style .arrow::before {
  content: '';
  width: 1.5rem;
  height: 40px;
  background: #ffcc34;
  display: inline-block;
}

.footer-page-style .arrow span {
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 1.8rem;
}

#announcement-detail .content {
  color: #666;
}

.api-search-input-box {
  display: inline-block;
  position: relative;
}

#calendar .calendar-icon-box {
  display: inline-block;
  float: right;
  margin-top: 16px;
}

#calendar .calendar-icon-box button {
  background: none;
}

.index-iframe {
  min-height: 25rem;
  height: 35rem;
}

.index-more-button:hover {
  color: #fff;
}

.ReactModal__Overlay {
  z-index: 9999 !important;
}

.subtitle-scroll {
  white-space: nowrap;
  overflow-x: scroll;
}

.svg-menu {
  position: absolute;
  top: 50px;
  right: 50px;
  z-index: 9999;
  width: 20px;
  height: 20px;
  background-color: #FFF;
  border-radius: 50px;
  cursor: pointer;
}

.content-container {
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.8s cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 0.8s cubic-bezier(0.19, 1, 0.22, 1);
}

#menu-container {
  pointer-events: none;
}

.menu-reveal {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #FFF;
  opacity: 1;
  -webkit-transition: all 0.45s cubic-bezier(1, 0, 0, 1);
  transition: all 0.45s cubic-bezier(1, 0, 0, 1);
  -webkit-clip-path: polygon(0 0, 0 0, 0 0);
}

#reveal1 {
  -webkit-clip-path: polygon(100% 100%, 100% 100%, 100% 100%);
}

#reveal1.anim {
  -webkit-clip-path: polygon(75% 100%, 0 25%, 0 100%);
  background-color: #FFF;
  opacity: 1;
}

#reveal2.anim {
  -webkit-clip-path: polygon(100% 75%, 25% 0, 100% 0);
  background-color: #FFF;
  opacity: 1;
}

#reveal3.anim {
  -webkit-clip-path: polygon(100% 74%, 100% 100%, 74% 100%, 0 26%, 0 0, 26% 0);
  background-color: #FFF;
  opacity: 1;
}

#menu-content {
  opacity: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: url("https://www.awoo.com.tw/wp-content/uploads/2019/04/image-SEO-01.png");
  background-size: cover;
  background-position: center;
}

#menu-content.anim {
  -webkit-animation-name: fade;
          animation-name: fade;
  -webkit-animation-duration: .1s;
          animation-duration: .1s;
  -webkit-animation-delay: .25s;
          animation-delay: .25s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
          animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
}

.content-container.anim {
  -webkit-transform: scale(0.85, 0.85);
          transform: scale(0.85, 0.85);
}

@-webkit-keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.feedback-choice {
  margin-top: 3rem;
}

.feedback-choice .everyone-talk, .feedback-choice .my-talk {
  padding-left: 15px;
  position: relative;
}

.feedback-choice .everyone-talk .talk-font, .feedback-choice .my-talk .talk-font {
  position: absolute;
  font-size: 1.8rem;
  color: #333333;
  top: 50%;
  right: 0;
  -webkit-transform: translate(-20%, -50%);
          transform: translate(-20%, -50%);
}

.feedback-choice .opinions-search-button {
  text-align: right;
  margin-left: auto;
}

#feedback select {
  width: 70%;
  height: 50px;
  border: 1px solid #f2f1f0;
  font-size: 2.2rem;
  color: #808080;
}

#feedback select option {
  background: #e0f9f5;
  font-size: 2.2rem;
  color: #333;
}

#feedback .input-group {
  width: 30%;
}

#feedback .search-box {
  position: relative;
  width: 80%;
}

#feedback .search-box .search-icon {
  position: absolute;
  top: 50%;
  right: 4%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#feedback .search-num-box {
  padding: 16px;
  color: rgba(0, 0, 0, 0.6);
  background: rgba(254, 204, 70, 0.2);
  margin-top: 3rem;
  text-align: center;
}

#feedback .radio-box {
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#feedback .radio-box input[type='radio'] {
  cursor: pointer;
  height: 18px;
  width: 18px;
  margin: -3px 5px 0px 16px;
}

#feedback .radio-box label {
  cursor: pointer;
}

#feedback .publish {
  letter-spacing: 1px;
  background: rgba(254, 204, 70, 0.8);
  padding: 16px;
  margin: 20px 0px;
}

.opinions-choice {
  margin: 2rem 0;
}

.opinions-choice input[type='text'] {
  height: 50px;
  width: 100%;
  font-size: 2.2rem;
  border: 1px solid #f2f1f0;
}

.opinions-choice label {
  font-size: 2.2rem;
  padding-right: 2rem;
  color: #333;
}

.opinions-choice select {
  width: 70%;
  height: 50px;
  border: 1px solid #f2f1f0;
  font-size: 2.2rem;
  color: #808080;
}

.opinions-choice select option {
  background: #e0f9f5;
  font-size: 2.2rem;
  color: #333;
}

.opinions-choice .search-box {
  position: relative;
  width: 100%;
  margin-bottom: 1rem;
}

.opinions-choice .search-icon {
  position: absolute;
  top: 50%;
  right: 8%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.opinions-choice .progress-search {
  text-align: right;
}

.opinions-choice .progress-search a {
  position: relative;
  height: 4.4rem;
  display: inline-block;
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}

.opinions-choice .progress-search img:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.opinions-choice .progress-search span {
  position: absolute;
  font-size: 2.2rem;
  color: white;
  top: 50%;
  right: 12%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.opinions-choice p {
  font-size: 2.2rem;
  color: #666;
}

.content-box {
  position: relative;
  border-bottom: 2px solid #eee;
}

.content-box .appeal:nth-child(1)::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 100%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 2px;
  height: 14rem;
  background: #eee;
}

.content-box .appeal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.content-box .appeal .all-box {
  min-width: 200px;
  height: 15rem;
  position: relative;
  padding: 5px;
  background: #fbfbfb;
}

.content-box .appeal .all-box .up-icon {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 5%);
          transform: translate(-50%, 5%);
}

.content-box .appeal .all-box .up-icon.other {
  top: 15%;
  left: 55%;
}

.content-box .appeal .all-box .down-title {
  position: absolute;
  bottom: 10%;
  left: 50%;
  -webkit-transform: translate(-50%, 15%);
          transform: translate(-50%, 15%);
}

.content-box .appeal .all-box .down-title.other {
  left: 47%;
}

.content-box .appeal .all-box .down-icon {
  position: absolute;
  bottom: 10%;
  left: 80%;
  -webkit-transform: translate(-50%, 15%);
          transform: translate(-50%, 15%);
}

.content-box .appeal .all-box .down-icon.other {
  left: 67%;
}

.content-box .appeal .content {
  padding-left: 1rem;
}

.opinion-down-box {
  text-align: center;
}

.opinion-down-box .opinion-checkbox {
  padding: 2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.opinion-down-box .opinion-checkbox p {
  margin: 0;
}

.message-box {
  margin-bottom: 3rem;
}

.message-box table {
  width: 100%;
}

.message-box td {
  font-size: 1.8rem;
  color: #333;
  padding: 1.5rem 2rem 1.5rem 2rem;
}

.message-box thead {
  background: #fecc46;
}

.message-box thead td {
  font-weight: 500;
}

.message-box thead td.arrow {
  min-width: 70px;
}

.message-box thead td:nth-child(1) {
  width: 10rem;
  text-align: center;
  position: relative;
}

.message-box thead td:nth-child(1)::after {
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translate(0px, -50%);
          transform: translate(0px, -50%);
  content: '';
  width: 2px;
  height: 70%;
  background: #fff;
}

.message-box thead td:nth-child(2) {
  padding-left: 2rem;
}

.message-box thead td:nth-child(3) img {
  margin-left: auto;
}

.message-box tbody {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  border-left: 1px solid #f3f0ec;
  border-right: 1px solid #f3f0ec;
  border-bottom: 1px solid #f3f0ec;
}

.message-box tbody tr:nth-child(1) td:nth-child(1) {
  position: relative;
}

.message-box tbody tr:nth-child(1) td:nth-child(1)::after {
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translate(0px, -50%);
          transform: translate(0px, -50%);
  content: '';
  width: 2px;
  height: 70%;
  background: #f3f0ec;
}

.message-box tbody tr:nth-child(2), .message-box tbody tr:nth-child(4) {
  background: #f3f0ec;
}

.message-box tbody tr:nth-child(3) td, .message-box tbody tr:nth-child(5) td {
  padding-bottom: 4rem;
}

.message-box tbody tr:nth-child(6) td {
  text-align: right;
}

.message-box tbody.active {
  display: none;
}

.circle {
  width: 10px;
  height: 10px;
  padding-right: 5px;
  background: #fecc46;
  display: inline-block;
  border-radius: 50%;
}

#myModal .modal-content {
  padding: 0 8rem;
}

#myModal .modal-dialog {
  margin: 20vh auto !important;
}

#myModal h2 {
  font-size: 3.4rem;
  color: #262727;
}

#myModal label {
  padding-left: 3rem;
  min-width: 14rem;
}

#myModal .modal-body div {
  margin: 2rem 0;
}

#myModal input {
  border: none;
  background: #eee;
  height: 50px;
  width: 70%;
}

#myModal .pwd input {
  width: 35%;
}

#myModal .send {
  text-align: center;
}

.num-img {
  min-width: 115px;
}

.button-style {
  background: none;
  border: none;
  padding: 0 1rem;
}

.publish-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2rem;
}

.publish-title img {
  margin-right: 1rem;
}

.publish-title span {
  font-size: 3.4rem;
  color: #333;
  position: relative;
  padding-left: 2rem;
}

.publish-title span::before {
  content: '';
  width: 5px;
  height: 4rem;
  background: #98EADD;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

#feedback .determine {
  border: none;
  background: none;
}

.table-box {
  margin-top: 10rem;
}

.table-box .TicketNumberOuter {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.table-box .TicketNumberOuter button {
  margin-left: 10px;
  border: none;
  background: transparent;
  font-size: 2rem;
  color: #000;
  -webkit-transition: .2s;
  transition: .2s;
}

.table-box .TicketNumberOuter button:hover {
  color: #fecc46;
}

.table-box .TicketNumberOuter .TicketNumberGroup .TicketNumberItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10px;
}

.table-box > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 3rem 0;
}

.table-box .other-textarea {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.table-box textarea {
  border: none;
  background: #f3f3f3;
}

.table-box .list-title {
  font-size: 2.2rem;
  min-width: 12rem;
  display: inline-block;
}

.table-box label {
  font-size: 2.2rem;
  margin-left: 1rem;
  margin-right: 3rem;
  margin-bottom: 0;
}

.table-box input[type='text'], .table-box input[type='email'], .table-box input[type='url'], .table-box select {
  border: none;
  background: #f3f3f3;
}

.table-box input[type='checkbox'] {
  width: 2rem;
}

.table-box input.captcha-input {
  margin-right: 1rem;
}

.table-box input, .table-box select {
  height: 5rem;
}

.table-box select {
  font-size: 2.2rem;
}

.table-box select option {
  font-size: 2.2rem;
}

.table-box .radio-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 0;
}

.table-box .select-1 {
  margin-right: 1rem;
}

.table-box .select-2 {
  margin-left: 1rem;
}

.table-box .input-adr {
  width: calc(100% - 12rem);
  margin-left: auto;
  margin-top: 3rem;
}

.table-box .label-file-data, .table-box .label-file-video {
  position: relative;
  cursor: pointer;
  padding-left: 0;
  margin-left: 0;
}

.table-box .label-file-data #file-data, .table-box .label-file-data #file-video, .table-box .label-file-video #file-data, .table-box .label-file-video #file-video {
  width: 1px;
  height: 1px;
  top: 43%;
  left: 37%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.table-box .file-src {
  font-size: 2.2rem;
  vertical-align: middle;
  margin: 0 1rem;
}

.table-box .file-p {
  width: calc(100% - 12rem);
  margin-left: auto;
  padding: 0 15px;
}

.table-box .note-list {
  border: 1px solid #f3f3f3;
  padding: 3rem;
  display: block;
  margin-top: 2rem;
}

.table-box .note-list .note-checkbox-box {
  display: inline-block;
  margin: auto;
  background: #666666;
  padding: 1rem;
  font-size: 2.2rem;
  color: #fff;
}

.table-box .note-list .note-label-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 3rem;
}

.table-box .note-list input[type='checkbox'] {
  height: auto;
  margin-right: 1rem;
  width: 2.2rem;
  height: 2.2rem;
}

.table-box .send {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.table-box.search-results-table {
  margin-top: 4rem;
}

.table-box.search-results-table label {
  color: #808080;
}

.table-box.search-results-table p {
  font-size: 2.2rem;
  color: #808080;
}

.modal.i-publish .modal-content {
  position: relative;
}

.modal.i-publish .modal-content .modal-logo {
  position: absolute;
  top: -1%;
  left: 10%;
}

.modal.i-publish .logo-box {
  position: relative;
}

.modal.i-publish .logo-box span {
  font-size: 2.2rem;
  position: absolute;
  top: 15%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.modal.i-publish .modal-body {
  padding: 8rem 0 3rem 0;
}

.modal.i-publish .modal-textarea textarea {
  border: 1px solid #f3f3f3;
}

#products .book-box-all {
  padding-right: 7rem;
  padding-left: 7rem;
  margin: 2rem 0;
}

#products .book-box {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer;
  height: 30rem;
  border: 1px solid #c5c5c5;
}

#products .book-box:hover {
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
}

#products .title {
  width: 85%;
  display: inline-block;
}

#products .other-icon {
  width: 15%;
  display: inline-block;
  text-align: right;
}

#products .other-icon img {
  padding: 0.2rem 0.5rem;
}

#Products .products-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#Products .products-title-tab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: NotoSansCJKtc;
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.2;
  letter-spacing: 0.4px;
  text-align: center;
  color: #323c4b;
  border-radius: 4.8px;
  background-color: #b7f0e7;
  text-align: center;
  padding: 2% 15%;
  white-space: nowrap;
  margin-left: 10px;
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}

#Products .products-title-tab:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(3%, #0fd5d8), to(#0191b4));
  background-image: linear-gradient(to bottom, #0fd5d8 3%, #0191b4 100%);
}

#Products .products-title-tab:hover h3 {
  color: #fff;
}

#Products .products-title-tab.right {
  background-color: #00a49b;
}

#Products .products-title-tab.right h3 {
  color: #fff;
}

#Products .products-title-tab.right:hover {
  background-image: none;
}

#Products .products-pages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

#Products .product-hr {
  color: #b7f0e7;
  border: 2px solid;
  width: 100%;
}

#Products .product-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#Products .product-search-title {
  font-family: NotoSansCJKtc;
  font-size: 2rem;
  font-weight: normal;
  line-height: 1.41;
  letter-spacing: 0.44px;
  text-align: left;
  color: #333333;
  white-space: nowrap;
}

#Products .product-box {
  width: 220px;
  height: 50px;
  border-radius: 2px;
  border: solid 1.1px #dfdfdf;
  background-color: #ffffff;
  margin-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.6rem;
}

#Products .product-box select, #Products .product-box input {
  width: 100%;
  height: auto;
  border: none;
  padding: 3%;
}

#Products .product-box.input {
  position: relative;
  padding-right: 3%;
}

#Products .product-box.input::after {
  position: absolute;
  content: '';
  background-image: url("/static/img/icons/Path 1441.png");
  width: 25px;
  height: 25px;
  background-repeat: no-repeat;
  right: 0px;
  top: 0px;
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
}

#Products .product-wrap ul {
  width: 100%;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#Products .product-wrap ul li {
  width: 28%;
  text-align: center;
  cursor: pointer;
}

#Products .product-wrap-title {
  font-size: 1.6rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.95;
  letter-spacing: 0.39px;
  text-align: center;
  color: #333333;
}

#Products .product-title-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#Products .product-title-name span {
  display: block;
  width: 3px;
  background-color: #b7f0e7;
  height: 50%;
  margin: 0px 10px;
}

#Products .product-name {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.35;
  letter-spacing: 0.68px;
  text-align: left;
  color: #333333;
}

#Products .product-imgs {
  text-align: center;
}

#Products .product-imgs img {
  width: 50%;
}

#Products .product-intro {
  width: 60%;
  margin: auto;
  margin-top: 5%;
}

#Products .product-imgs-name {
  font-size: 2rem;
  font-weight: 500;
}

#Products .product-arrows-triangle .slick-dots {
  margin: 2% 0 0;
}

#Products .product-arrows-triangle .slick-dots ul {
  margin-top: -5%;
  position: relative;
}

#Products .product-arrows-triangle .slick-dots ul li {
  margin: 0 1%;
}

#Products .product-arrows-triangle .slick-dots ul li button {
  border: none !important;
  background: transparent !important;
  margin-left: 5px;
  display: inline-block;
  text-indent: -9999px;
  width: 18px;
  height: 18px;
  overflow: hidden;
}

#Products .product-arrows-triangle .slick-dots ul li button::before {
  content: '';
  width: 18px;
  height: 18px;
  background-color: #ebebeb;
  border-radius: 50%;
  display: block;
}

#Products .product-arrows-triangle .slick-dots ul li.slick-active button:before {
  background: #929292;
}

#Products .product-time {
  text-align: right;
}

.products-slick-img {
  width: 100%;
  height: 40rem;
  -o-object-fit: contain;
     object-fit: contain;
}

.st0 {
  fill: #F2F1F0;
  stroke: #808080;
  stroke-miterlimit: 10;
}

.st1 {
  fill: none;
}

.st2 {
  font-family: 'SourceHanSansTW-Regular-B5pc-H';
}

.st3 {
  font-size: 24px;
}

.st4 {
  letter-spacing: 1;
}

.st5 {
  font-size: 16px;
}

.st0.active {
  fill: #98eadd;
}

.svg-box {
  position: relative;
  min-height: 2.5rem;
  margin-top: 1rem;
  width: 85%;
  margin-left: 5rem;
}

.svg-box.svg-box-mobile {
  margin-left: 1rem;
}

.svg-menu-1 {
  width: 33.3%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
}

.svg-menu-2 {
  width: 66.6%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.svg-menu-3 {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.svg-menu-mobile-1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 35%;
  z-index: 3;
}

.svg-menu-mobile-2 {
  position: absolute;
  top: 0;
  left: 30%;
  width: 35%;
  z-index: 2;
}

.svg-menu-mobile-3 {
  position: absolute;
  top: 0;
  left: 60%;
  width: 35%;
  z-index: 1;
}

@font-face {
  font-family: 'NotoSansCJKtc';
  src: url("/static/css/fonts/NotoSansCJKtc-Regular.otf");
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'NotoSansCJKtc', "Arial", -apple-system, "Microsoft JhengHei", sans-serif;
  font-size: 1.4rem;
  font-weight: 300;
}

.app {
  overflow: hidden;
  position: relative;
}

a:hover {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.container-custom {
  width: 100%;
  max-width: 91.5% !important;
  margin-left: auto;
  margin-right: auto;
}

h1, h2, h3, h4, h5, h6 {
  color: #1c3452;
  margin-bottom: 0;
}

.mt-lg {
  margin-top: 60px;
}

.mt-xlg {
  margin-top: 90px;
}

.mt-xxlg {
  margin-top: 140px;
}

.no-padding {
  padding: 0;
}

.br-sm {
  border-radius: 4px;
}

.br-md {
  border-radius: 10px;
}

.br-lg {
  border-radius: 30px;
}

.main-content-wrap {
  position: relative;
}

.main-content {
  padding: 0 0 40px;
  min-height: calc(100vh - 100px);
  background: #ffffff;
}

.main-content .container.inner {
  max-width: 1600px !important;
}

.main-content.no-padding {
  padding: 0;
}

.main-content ul {
  margin-top: 10px;
}

.main-content ul li {
  font-size: 1.6rem;
  color: rgba(50, 60, 75, 0.8);
}

.main-content p {
  margin-top: 15px;
  font-size: 1.6rem;
  color: rgba(50, 60, 75, 0.8);
  font-weight: 400;
}

.main-content .content-area {
  min-height: 40vh;
  margin-top: 25px;
  margin-bottom: 100px;
}

.main-content .text-content {
  font-size: 1.6rem;
  line-height: 27px;
  text-align: justify;
  margin-top: 30px;
}

.main-content .text-content.no-padding {
  margin-top: 5px;
}

.detail-page {
  font-size: 1.6rem;
  color: rgba(50, 60, 75, 0.8);
  font-weight: 300;
}

.ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.fw-100 {
  font-weight: 100;
}

.fw-200 {
  font-weight: 200;
}

.fw-300 {
  font-weight: 300;
}

.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

.fw-700 {
  font-weight: 700;
}

.fw-800 {
  font-weight: 800;
}

.fw-900 {
  font-weight: 900;
}

.grid-section img {
  width: 100%;
  margin-bottom: 100px;
}

.grid-section .img-title {
  margin-top: 10px;
  font-size: 2rem;
  font-weight: 500;
  color: #323c4b;
}

.grid-section .img-viewcount {
  font-size: 1.6rem;
  font-weight: 300;
  color: rgba(50, 60, 75, 0.8);
}

.card .card-body {
  color: #323c4b;
}

.card .card-body .card-title {
  font-size: 2rem;
  font-weight: 500;
  border-bottom: 1px solid rgba(50, 60, 75, 0.8);
  padding-bottom: 5px;
}

.card .card-body .card-subtitle {
  font-size: 1.2rem;
  color: rgba(50, 60, 75, 0.8);
  font-weight: 300;
}

.card .card-body .card-text {
  font-weight: 300;
  font-size: 1.6rem;
}

.card .card-body .card-text span {
  font-weight: 500;
}

.image-fluid {
  width: 100% !important;
  height: auto !important;
  margin: auto !important;
}

.image-fluid.not-found {
  -o-object-fit: contain !important;
     object-fit: contain !important;
  width: 80% !important;
}

.sr-only {
  background: #ffffff;
  border: 2px solid #55a5f0 !important;
  padding: 5px 10px !important;
  display: inline-block;
  z-index: 7;
  border-radius: 10px;
  color: #55a5f0;
  position: absolute !important;
}

.f-alige-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.theme-a {
  color: rgba(0, 164, 165, 0.8);
}

.theme-a:hover {
  color: #00a4a5;
}

/* ANIMATIONS */
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
    -webkit-transform: scaleY(0.8) translateX(-40%);
            transform: scaleY(0.8) translateX(-40%);
  }
  100% {
    opacity: 1;
    -webkit-transform: scaleY(1) translateX(-40%);
            transform: scaleY(1) translateX(-40%);
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
    -webkit-transform: scaleY(0.8) translateX(-40%);
            transform: scaleY(0.8) translateX(-40%);
  }
  100% {
    opacity: 1;
    -webkit-transform: scaleY(1) translateX(-40%);
            transform: scaleY(1) translateX(-40%);
  }
}

@-webkit-keyframes expand-box {
  0% {
    -webkit-transform: translateY(-8px);
            transform: translateY(-8px);
    opacity: 0.4;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes expand-box {
  0% {
    -webkit-transform: translateY(-8px);
            transform: translateY(-8px);
    opacity: 0.4;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@media screen and (max-width: 1500px) {
  .banner-inner::before {
    height: 260px;
  }
}

@media screen and (max-width: 1300px) {
  .banner-inner::before {
    height: 200px;
  }
}

@media screen and (max-width: 1200px) {
  #products .book-box-all {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  #videos .video-img-box-all {
    padding-right: 2rem;
    padding-left: 2rem;
    margin: 2rem 0;
  }
  #videos .video-img-box {
    height: 40vh;
  }
  .index-iframe {
    height: 55rem;
  }
}

@media screen and (max-width: 1024px) {
  .index-iframe {
    height: 42rem;
  }
}

@media screen and (max-width: 992px) {
  .banner-inner {
    opacity: 0.2;
  }
  .banner-inner::before {
    content: none;
  }
  .feedback-choice .opinions-search-button {
    text-align: left;
    margin-left: auto;
    margin-bottom: 1rem;
  }
  #feedback .select-box, #feedback .search-box {
    margin-top: 1rem;
  }
  #feedback .search-box {
    width: 100%;
  }
  #feedback .search-box .search-icon {
    right: 23%;
  }
  #feedback .search-box label {
    opacity: 0;
  }
  #products .book-box {
    height: 30rem;
  }
}

@media only screen and (max-width: 768px) {
  .index-iframe {
    height: 25rem;
  }
  #videos-detail .video-iframe iframe {
    height: 45rem;
  }
  #videos .video-img-box-all {
    padding-right: 1rem;
    padding-left: 1rem;
    margin: 2rem 0;
  }
  #videos .video-img-box {
    height: 35vh;
  }
  .svg-box {
    width: 100%;
    margin-left: 0;
  }
  header#header {
    height: 60px;
  }
  header#header .main-logo {
    margin-bottom: 6px;
  }
  .wrapper-image {
    margin-top: -20vw;
  }
  section#home-banner {
    margin-top: 77px;
  }
  section#home-banner .banner-wrap .banner-image {
    padding: 20px;
    height: 56vh !important;
  }
  section#home-banner .banner-wrap h2 {
    color: #ffffff;
    font-size: 4rem;
    font-weight: 300;
    margin-bottom: 0;
    letter-spacing: 2px;
  }
  section#home-banner .banner-wrap h2 span {
    font-size: 1.8rem;
  }
  section#home-banner .banner-wrap p {
    font-size: 3.3rem;
  }
  .slider-line {
    top: -88%;
  }
  .slider-line .white-line {
    height: 2vw;
    border: solid 1px white;
  }
  .slider-line .blue-line {
    height: 10vw;
    border: solid 1px #4569a3;
  }
  .video-title h2 {
    font-size: 1.5rem;
  }
  .modal-dialog {
    max-width: 768px !important;
    margin: 5.75rem auto !important;
  }
  .modal-content .close {
    right: 15px;
  }
  .modal-news-tab {
    width: 20%;
    height: 6vw;
  }
  .modal-header {
    margin-top: 9%;
  }
  footer .footer-icon {
    width: 15px;
    height: 15px;
  }
  .news-btns button {
    width: 40% !important;
  }
  .additional-section .wrapper-green-left {
    top: -12%;
    padding: 3%;
    left: 3%;
  }
  .additional-section .wrapper-green-right {
    left: 39%;
    top: -12%;
    padding: 3%;
  }
  #feedback select {
    width: 80%;
  }
  #feedback .search-box {
    width: 100%;
  }
  #feedback .search-box label {
    opacity: 0;
  }
  #feedback .search-box .search-icon {
    right: 13%;
  }
  #feedback input[type='text'] {
    width: 80%;
  }
  .feedback-choice .opinions-search-button {
    text-align: center;
  }
  .feedback-choice .everyone-talk .talk-font-mobile, .feedback-choice .my-talk .talk-font-mobile {
    word-break: keep-all;
    position: absolute;
    font-size: 1.4rem;
    color: #333333;
    bottom: 0%;
    left: 50%;
    -webkit-transform: translate(-50%, -40%);
            transform: translate(-50%, -40%);
  }
  .feedback-choice .opinions-search-button {
    padding-bottom: 2rem;
  }
  #myModal .modal-content {
    text-align: center;
    padding: 0;
  }
  #myModal .modal-dialog {
    padding: 1.5rem;
  }
  #myModal input {
    width: 90%;
  }
  #myModal .pwd input {
    width: 90%;
  }
  #myModal .pwd img, #myModal .pwd button {
    margin-top: 1rem;
  }
  #feedback .mobile-style {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #feedback .determine {
    margin: 1rem 0;
  }
  .table-box {
    margin-top: 2rem;
  }
  .table-box label {
    font-size: 2.2rem;
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .table-box input[type='radio'] {
    margin-left: 0rem;
    height: 2rem;
  }
  .table-box .other {
    -webkit-box-align: unset;
        -ms-flex-align: unset;
            align-items: unset;
    margin-top: 1rem;
  }
  .table-box .other .list-title {
    margin: 0;
  }
  .table-box .radio-box {
    display: block;
    -webkit-box-align: unset;
        -ms-flex-align: unset;
            align-items: unset;
  }
  .table-box .captcha-title {
    width: 100%;
  }
  .table-box .note-list .note-checkbox-box {
    font-size: 1.6rem;
  }
  .table-box .note-list input[type='checkbox'] {
    width: 1.6rem;
    height: 1.6rem;
  }
  .modal.i-publish .modal-body {
    padding: 3rem 0 3rem 0;
  }
  .modal.i-publish .modal-textarea {
    padding: 3rem 2rem 0rem 2rem;
  }
  .planned-speed {
    margin-left: 0;
  }
  #products .book-box-all {
    width: 200px;
  }
  .menu-page {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
  .footer-page-style .arrow::before {
    height: 70px;
  }
}

@media screen and (max-width: 767px) {
  .table-box .select-1 {
    margin-right: 0;
  }
  .table-box .select-2 {
    margin-left: 0;
    margin-top: 1rem;
  }
  .table-box .input-adr {
    width: 100%;
    margin-top: 1rem;
  }
  .table-box .captcha-input {
    margin-bottom: 1rem;
  }
}

@media screen and (max-width: 600px) {
  section#home-banner {
    margin-top: 40px;
  }
}

@media screen and (max-width: 576px) {
  .api-search-input-box {
    width: 100%;
  }
  #Products .product-intro {
    width: auto;
  }
  #videos-detail .video-iframe iframe {
    height: 25rem;
  }
  #videos .video-img-box-all {
    padding-right: 1rem;
    padding-left: 1rem;
    margin: 2rem 0;
  }
  #videos .video-img-box {
    height: 45vh;
  }
  .menu-page a {
    margin: 0;
  }
  .menu-page svg {
    width: 90%;
  }
  ul.pagination li.break {
    display: none;
  }
  ul.pagination li.previous a, ul.pagination li.next a {
    font-size: 1.6rem;
    font-weight: 400;
  }
  ul.pagination li.next, ul.pagination li.previous {
    min-width: 6.4rem;
    padding-left: 2px;
    padding-right: 2px;
  }
  ul.pagination li {
    margin: 0;
  }
  .message-box thead td:nth-child(1) {
    width: 8rem;
  }
  #feedback label {
    font-size: 1.6rem;
  }
  #feedback select {
    height: 30px;
    font-size: 1.6rem;
  }
  #feedback .select-box {
    padding-right: 15px;
  }
  #feedback .appeal {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #feedback .appeal .all-box .down-icon {
    left: 70%;
  }
  #feedback .appeal .all-box .down-title.other {
    left: 50%;
  }
  .opinions-choice input[type='text'] {
    height: 30px;
    font-size: 1.6rem;
  }
  .table-box .send {
    margin-top: 2rem;
  }
  .publish-title span {
    font-size: 2.2rem;
  }
  #myModal label {
    min-width: 8rem;
    padding-left: 0;
    padding-right: 0;
  }
  #myModal .send button {
    padding: 1rem 0.2rem;
  }
  .table-box {
    margin-top: 2rem;
  }
  .table-box > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 0rem;
    margin-bottom: 0;
  }
  .table-box .list-title {
    font-size: 1.6rem;
    min-width: unset;
    display: inline-block;
    margin: 1rem 0;
  }
  .table-box label {
    font-size: 1.6rem;
    margin-left: 0rem;
    margin-right: 0rem;
  }
  .table-box input, .table-box select {
    border: none;
    height: 3rem;
    background: #f3f3f3;
  }
  .table-box input[type='radio'] {
    margin-left: 1rem;
  }
  .table-box .other {
    -webkit-box-align: unset;
        -ms-flex-align: unset;
            align-items: unset;
    margin-top: 1rem;
  }
  .table-box .other .list-title {
    margin: 0;
  }
  .table-box select {
    font-size: 1.6rem;
  }
  .table-box select option {
    font-size: 1.6rem;
  }
  .table-box .select-1 {
    margin-right: 0;
  }
  .table-box .select-2 {
    margin-top: 1rem;
    margin-left: 0;
  }
  .table-box .input-adr {
    width: 100%;
    margin-left: auto;
    margin-top: 1rem;
  }
  .table-box .label-file-data, .table-box .label-file-video {
    padding: 0;
  }
  .table-box .label-file-data #file-data, .table-box .label-file-data #file-video, .table-box .label-file-video #file-data, .table-box .label-file-video #file-video {
    width: 1px;
    height: 1px;
    position: absolute;
    top: 43%;
    left: 37%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .table-box .file-src {
    font-size: 1.6rem;
  }
  .table-box .file-p {
    width: auto;
    margin-left: 0;
    padding: 0;
  }
  .table-box.search-results-table {
    padding-left: 2rem;
  }
  .table-box.search-results-table > div {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .table-box.search-results-table .list-title {
    min-width: 10rem;
  }
  .table-box.search-results-table p {
    margin-top: 1rem;
    font-size: 1.6rem;
  }
  #products .book-box-all {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  #products .book-box {
    height: 20rem;
  }
  #products .sub-title {
    text-align: center;
  }
  .opinions-choice label {
    font-size: 1.6rem;
    padding-right: 0.5rem;
  }
  .opinions-choice select {
    height: 30px;
    font-size: 1.6rem;
  }
  .opinions-choice .search-icon {
    right: 4%;
  }
  .opinions-choice .search-icon img {
    max-width: 75%;
  }
  .opinions-choice p {
    font-size: 1.6rem;
  }
  .opinions-choice .select-box {
    padding-right: 0;
  }
}

@media only screen and (max-width: 414px) {
  .home-siler-dots {
    position: relative;
  }
  .home-siler-dots .slick-dots {
    bottom: 10%;
  }
  .div {
    font-size: auto;
  }
  .additional-section .wrapper-green {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .additional-section .wrapper-green img {
    width: 80%;
  }
  .additional-section .wrapper-green-left {
    left: 3.5%;
    top: -7%;
  }
  .additional-section .wrapper-green-right {
    left: 54%;
    top: -7%;
  }
  .slider-line {
    top: -130%;
  }
  .slider-line .white-line {
    height: 3vw;
  }
  .slider-line .blue-line {
    height: 12vw;
  }
  .slider-line nav.mobile {
    font-size: 2.2rem;
  }
  section#MobileChangeFontSize .info-bar-mobile-size {
    width: 35px;
    height: 35px;
    font-size: 2rem;
  }
  .mobile-nav-wrap .info-bar-mobile-icon {
    width: 35px;
  }
  .mobile-nav-wrap .mobile-nav-langues span {
    font-size: 2.5rem;
  }
  .modal-news-tab {
    width: 25%;
    height: 11vw;
  }
  .modal-img {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .modal-img img {
    width: 100% !important;
  }
  .modal-footer button {
    width: 15%;
    margin-bottom: 5%;
  }
  .section05 .icon-wrapper p {
    font-size: 2.2rem;
  }
  .feedback-choice .everyone-talk .talk-font-mobile, .feedback-choice .my-talk .talk-font-mobile {
    position: absolute;
    font-size: 1.2rem;
    color: #333333;
    bottom: 0%;
    left: 50%;
    -webkit-transform: translate(-50%, -40%);
            transform: translate(-50%, -40%);
  }
}

@media only screen and (max-width: 375px) {
  .mobile .nav-list .nav-item {
    font-size: 1.8rem;
  }
  .slider-line {
    top: -600%;
  }
  .slider-line .white-line {
    height: 4vw;
  }
  .slider-line .blue-line {
    height: 16vw;
  }
  .wrapper-image {
    margin-top: -46vw;
  }
  .video-title h2 {
    font-size: 1.2rem;
  }
  .mobile-lastest-video .mobile-news {
    background-color: #fff;
  }
  .additional-section .wrapper-green-left {
    left: 4.5%;
    top: -6%;
  }
  .additional-section .wrapper-green-right {
    left: 53.5%;
    top: -6%;
  }
}

@media only screen and (max-width: 320px) {
  nav.mobile {
    margin: 50px 50px 25px 50px;
  }
  .mobile-nav-wrap .info-bar-mobile-icon {
    width: 25px;
  }
  section#MobileChangeFontSize .info-bar-mobile-size {
    width: 25px;
    height: 25px;
    font-size: 1.5rem;
    padding: 0px 0px;
  }
  .slider-line {
    top: -500%;
  }
  .modal-news-tab {
    width: 27%;
    height: 14vw;
  }
  .modal-footer button {
    width: 20%;
  }
  .additional-section .wrapper-green-left {
    top: -5%;
  }
  .additional-section .wrapper-green-right {
    top: -5%;
  }
  .feedback-choice .everyone-talk .talk-font-mobile, .feedback-choice .my-talk .talk-font-mobile {
    position: absolute;
    font-size: 1.2rem;
    color: #333333;
    bottom: 0%;
    left: 47%;
    -webkit-transform: translate(-43%, -40%);
            transform: translate(-43%, -40%);
  }
  #feedback .search-box .search-icon {
    right: 5%;
  }
  #videos .video-img-box {
    height: 35vh;
  }
  #videos-detail .video-iframe iframe {
    height: 20rem;
  }
}
/*# sourceMappingURL=main.css.map */