.svg-menu
  position: absolute
  top: 50px
  right: 50px
  z-index: 9999
  width: 20px
  height: 20px
  background-color: #FFF
  border-radius: 50px
  cursor: pointer

.content-container
  background-size: cover
  background-position: center
  width: 100%
  height: 100%
  transition: all .8s cubic-bezier(0.190, 1.000, 0.220, 1.000)

#menu-container
  pointer-events: none

// Each reveal 'bar' is a clipped div as SVG does not correlate as well to container bounds in a reflexive page. This could also be done in canvas, but performs well enough strictly in css this way
.menu-reveal
  width: 100%
  height: 100%
  position: absolute
  top: 0
  left: 0
  background-color: #FFF
  opacity: 1
  transition: all 0.45s cubic-bezier(1.000, 0.000, 0.000, 1.000)
  -webkit-clip-path: polygon(0 0, 0 0, 0 0)

#reveal1
  -webkit-clip-path: polygon(100% 100%, 100% 100%, 100% 100%)
  &.anim
    -webkit-clip-path: polygon(75% 100%, 0 25%, 0 100%)
    background-color: #FFF
    opacity: 1

#reveal2.anim
  -webkit-clip-path: polygon(100% 75%, 25% 0, 100% 0)
  background-color: #FFF
  opacity: 1

#reveal3.anim
  -webkit-clip-path: polygon(100% 74%, 100% 100%, 74% 100%, 0 26%, 0 0, 26% 0)
  background-color: #FFF
  opacity: 1

#menu-content
  opacity: 0
  width: 100%
  height: 100%
  position: absolute
  top: 0
  left: 0
  // Demo styling below
  background: url('https://www.awoo.com.tw/wp-content/uploads/2019/04/image-SEO-01.png')
  background-size: cover
  background-position: center

  &.anim
    animation-name: fade
    animation-duration: .1s
    animation-delay: .25s
    animation-fill-mode: forwards
    animation-timing-function: cubic-bezier(0.420, 0.000, 0.580, 1.000)

.content-container.anim
  transform: scale(0.85, 0.85)

// Opacity fade needs to be keyframed in order to use a delay
@keyframes fade
  from
    opacity: 0
  to
    opacity: 1
