
.bg-shadow-03
  position: relative
  min-height: 30vw
  z-index: 2
  .img-static-03
    position: absolute
    top: 0
    left: 0
    width: 100%
    z-index: 0
    height: 30vw
.slider-line
  position: absolute
  left: 50%
  top: -105%
  z-index: 10
  .white-line
    border: solid 2px white
    height: 2vw
  .blue-line
    border: solid 2px #4569a3
    height: 10vw

.additional-section
  background: #f3ead8
  padding-bottom: 50px
  position: relative
  z-index: 1
  margin-top: -20px
  .top-large
    //margin-top: 80px
  .big-wrapper
    position: relative
  .wrapper-green-part
    padding: 20px
    background-image: linear-gradient(to right bottom, #defb80, #cff68a, #c3f093, #b8ea9b, #afe4a2)
    z-index: 1
    display: flex
    justify-content: center
    border-radius: 10px
    z-index: 1
    position: relative

  .wrapper-green-left
    background-color: #defb80
    position: absolute
    z-index: 0
    padding: 3%
    text-align: center
    border-radius: 10px 10px 0px 0px
    left: 2%
    top: -18%
    font-size: 1.8rem
    height: 100px
  .wrapper-green-right
    background-image: linear-gradient(134deg, #fff253 -18%, #e8b323 198%, #de980e 309%)
    position: absolute
    z-index: 0
    padding: 3%
    text-align: center
    border-radius: 10px 10px 0px 0px
    left: 38%
    top: -18%
    font-size: 1.8rem
    height: 100px

  .wrapper-green
    display: flex
    width: 90%
    align-items: center

    img
      width: 30%
      box-shadow: 5px 5px 8px #333333
    .wrapper-info
      display: flex
      flex-direction: column
      margin-left: 35px

.paragraph
  line-height: 28px
  color: #666666

.title-tosca
  color: #0fd5d8
  font-size: 2.2rem

// Banner
section#home-banner
  position: relative
  margin-top: 77px
  .banner-wrap
    .banner-image
      position: relative
      padding: 55px
    h2
      color: #ffffff
      font-size: 7rem
      font-weight: 100
      margin-bottom: 0
      font-family: 'Alcubierre'
      letter-spacing: 4px
      span
        font-size: 3rem
    p
      margin-top: 0
      font-size: 5.3rem
      font-weight: 400
      color: #000000
      letter-spacing: 4px

// SECTION TITLE COMPONENT
.main-content
  .section-title
    display: flex
    justify-content: center
    align-items: center
    font-family: $font-english
    position: relative
    margin: 40px 0
    margin-bottom: 20px
    left: 50%
    transform: translateX(-50%)
    top: 4%
    &.absolute
      position: absolute
      margin: 15px 0

    h3
      color: $font-dark
      font-size: 3rem

    h4.english-title
      display: block
      color: $color-green
      font-size: 1.6rem
      text-transform: uppercase
.mobile-lastest-video
  position: relative
  .mobile-news
    background-color: #fff
    width: 105%
    position: absolute
    z-index: 2
    top: 30px
    left: -5px
    font-size: 1.6rem
    display: flex
    flex-direction: column
    align-items: center

  .mobile-new-tab
    background-color: #BCE3DE
    padding: 1px 5px
    border-radius: 4px
  .close-mobile-news
    i
      font-size: 3rem
      color: #666666
      position: absolute
      top: -15px
      right: 60px
      cursor: pointer

//彈跳視窗
.modal
  background: rgba(0,0,0,0.4)
.modal-backdrop
  z-index: 0 !important
.modal-news-tab
  background-image: url(/static/img/home/modal-new.png)
  background-position: center
  background-size: contain
  width: 15%
  height: 3vw
  background-repeat: no-repeat
  line-height: 45px
  margin-left: 5%
  color: #fff
  font-size: 1.6rem
  position: absolute
  top: -12px
.modal-header
  margin-top: 5%
.modal-title
  font-size: 2.5rem
  font-weight: 500
  line-height: 1.35
  letter-spacing: 0.68px
  text-align: left
  margin-left: 5%
.modal-content
  .close
    position: absolute
    right: -16px
    font-size: 4rem
    background: #fff
    border-radius: 50px
    box-shadow: 0px 1px 2px 2px rgba(0, 0, 0, 0.2)
    width: 35px
    height: 35px
    top: -19px
    opacity: 1
    span
      display: block
      margin-top: 2px
      color: #9D9897
      font-size: 1.8rem

  hr
    border: 1px solid #009A9F
    width: 95%
    margin: auto
.modal-dialog
  max-width: 800px !important
.modal-header
  border-bottom: none !important
.modal-body
  p
    padding: 10px 4%
    text-align: justify
.modal-img
  padding: 10px 4%
  img
    width: 50%
  span
    text-align: left
.modal-qrcode
  text-align: end
  margin-top: 40px
.modal-final-time
  text-align: end
  padding: 10px 4%
  border-bottom: 1px solid #dee2e6
.modal-footer
  border-top: none !important
.modal-post-info
  text-align: end
  padding: 10px 4%
.modal-footer
  justify-content: center !important
  button
    background-color: #3a789a
    width: 10%
//運輸
#PublicTransport
  .transport-input
    width: 242px
    height: 50px
    border-radius: 2.2px
    border: solid 1.2px #e0e0e0
    background-color: #ffffff
    margin-top: 10px
    position: relative
    input
      border: none
      width: 100%
      padding: 5% 10%
    &::after
      position: absolute
      content: ''
      background-image: url('/static/img/icons/Path 1441.png')
      width: 25px
      height: 25px
      background-repeat: no-repeat
      right: 0px
      top: 0px
      transform: translateY(10px)
  // .transport-title
  //   background-image: url('/static/img/home/transport-img.svg')
  //   font-size: 2rem
  //   color: #ffffff
  //   font-weight: 350
  //   background-size: 100% 100%
  //   background-repeat: no-repeat
  //   padding: 10px 0px
  .transport-wrap
    ul
      list-style: none
      width: 100%
      li
        font-size: 2rem
        color: #ffffff
        font-weight: 350
        background-size: 100% 100%
        background-repeat: no-repeat
        display: flex
        justify-content: space-between
        padding: 0% 5% 0% 2%
        margin-bottom: 10px

      a
        font-weight: 300
        line-height: 2.95
        letter-spacing: 0.4px
        color: #333333
    li:nth-child(odd)
      background-image: url('/static/img/home/transport-black.png')
    li:nth-child(even)
      background-image: url('/static/img/home/transport-light.png')
.menu-page
  display: flex
  justify-content: flex-end
  a
    margin: 0 1rem
.hr-style
  color: #0fd5d8
  border: 1px solid
  width: 100%
  margin: 1rem auto
#videos
  .video-img-box-all
    padding-right: 4rem
    padding-left: 4rem
    margin: 2rem 0
  .video-img-box
    height: 25rem
    border: 1px solid #c5c5c5
  .other
    text-align: right
    color: rgba(50, 60, 75, 0.8)
#videos-detail
  .video-iframe
    margin-top: 2rem
    iframe
      height: 50rem
  hr
    border: 1px solid #e9e7e7
    width: 100%
  .update-time
    text-align: right
.first-menu-page-list
  position: relative
  margin: 1rem 0
  &::before
    content: ''
    position: absolute
    width: 1.5rem
    height: 100%
    background: #ffcc34
  span
    color: #333333
    font-size: 1.8rem
    font-weight: 500
    margin-top: 0
    margin: 0
    position: absolute
    top: 50%
    left: 15%
    transform: translateY(-50%)
  img
    &::before
      content: ''
      width: 1rem
      height: 5rem
      color: red

.wrapper-facebook
  padding-right: 0
  padding-left: 0
.footer-page-style
  letter-spacing: 3px
  list-style-position: inside
  .date
    text-align: right
  ul.li-style-none
    list-style: none
  li
    padding: 1rem 0
.footer-page-style
  .arrow
    width: fit-content
    // height: 40px
    background: #F2F1F0
    position: relative
    padding-left: 0
    margin: 2rem 0
    display: flex
    align-items: center
    &::before
      content: ''
      width: 1.5rem
      height: 40px
      background: #ffcc34
      display: inline-block
    span
      padding-left: 1rem
      padding-right: 1rem
      font-size: 1.8rem

#announcement-detail
  .content
    color: #666
.api-search-input-box
  display: inline-block
  position: relative
#calendar
  .calendar-icon-box
    display: inline-block
    float: right
    margin-top: 16px
    button
      background: none
.index-iframe
  min-height: 25rem
  height: 35rem
.index-more-button
  &:hover
    color: #fff
.ReactModal__Overlay
  z-index: 9999 !important

.subtitle-scroll
  white-space: nowrap
  overflow-x: scroll
