#products
  .book-box-all
    padding-right: 7rem
    padding-left: 7rem
    margin: 2rem 0

  .book-box
    transition: 0.2s
    cursor: pointer
    height: 30rem
    border: 1px solid #c5c5c5
    &:hover
      box-shadow: 0px 0px 8px rgba(0,0,0,0.2)
  .title
    width: 85%
    display: inline-block
  .other-icon
    width: 15%
    display: inline-block
    text-align: right
    img
      padding: 0.2rem 0.5rem
