#Products
  .products-title
    display: flex
  .products-title-tab
    display: flex
    justify-content: center
    font-family: NotoSansCJKtc
    font-size: 2rem
    font-weight: 300
    line-height: 1.2
    letter-spacing: 0.4px
    text-align: center
    color: #323c4b
    border-radius: 4.8px
    background-color: #b7f0e7
    text-align: center
    padding: 2% 15%
    white-space: nowrap
    margin-left: 10px
    transition: 1s ease-in-out
    &:hover
      background-image: linear-gradient(to bottom, #0fd5d8 3%, #0191b4 100%)
      h3
        color: #fff
  .products-title-tab.right
    background-color: #00a49b
    h3
      color: #fff
    &:hover
      background-image: none
  .products-pages
    display: flex
    list-style: none
  .product-hr
    color: #b7f0e7
    border: 2px solid
    width: 100%
  .product-search
    display: flex
    align-items: center

  .product-search-title
    font-family: NotoSansCJKtc
    font-size: 2rem
    font-weight: normal
    line-height: 1.41
    letter-spacing: 0.44px
    text-align: left
    color: #333333
    white-space: nowrap

  .product-box
    width: 220px
    height: 50px
    border-radius: 2px
    border: solid 1.1px #dfdfdf
    background-color: #ffffff
    margin-left: 10px
    display: flex
    align-items: center
    font-size: 1.6rem

    select,input
      width: 100%
      height: auto
      border: none
      padding: 3%
  .product-box.input
    position: relative
    padding-right: 3%
    &::after
      position: absolute
      content: ''
      background-image: url('/static/img/icons/Path 1441.png')
      width: 25px
      height: 25px
      background-repeat: no-repeat
      right: 0px
      top: 0px
      transform: translateY(10px)
  .product-wrap
    ul
      width: 100%
      list-style: none
      display: flex
      flex-wrap: wrap
      justify-content: space-between
      li
        width: 28%
        text-align: center
        cursor: pointer

  .product-wrap-title
    font-size: 1.6rem
    font-weight: 300
    font-stretch: normal
    font-style: normal
    line-height: 2.95
    letter-spacing: 0.39px
    text-align: center
    color: #333333
  // .sub-title
  //   border-bottom: none
  //   padding: 0px
  .product-title-name
    display: flex
    align-items: center
    span
      display: block
      width: 3px
      background-color: #b7f0e7
      height: 50%
      margin: 0px 10px
  .product-name
    font-size: 2rem
    font-weight: 500
    line-height: 1.35
    letter-spacing: 0.68px
    text-align: left
    color: #333333
  .product-imgs
    text-align: center
    img
      width: 50% 
  .product-intro
    width: 60%
    margin: auto
    margin-top: 5%
  .product-imgs-name
    font-size: 2rem
    font-weight: 500
  .product-arrows-triangle

    .slick-dots
      margin: 2% 0 0
      ul
        margin-top: -5%
        position: relative
        li
          margin: 0 1%
          button
            border: none !important
            background: transparent !important
            margin-left: 5px
            display: inline-block
            text-indent: -9999px
            width: 18px
            height: 18px
            overflow: hidden
            &::before
              content: ''
              width: 18px
              height: 18px
              background-color: #ebebeb
              border-radius: 50%
              display: block
          &.slick-active
            button:before
              background: #929292
  .product-time
    // font-size: 1.8rem
    // font-weight: normal
    // font-stretch: normal
    // font-style: normal
    // line-height: 1.72
    // letter-spacing: 0.36px
    text-align: right
    // color: #808080
.products-slick-img
  width: 100%
  height: 40rem
  object-fit: contain

