.feedback-choice
  margin-top: 3rem
  .everyone-talk , .my-talk
    padding-left: 15px
    position: relative
  .everyone-talk , .my-talk
    .talk-font
      position: absolute
      font-size: 1.8rem
      color: #333333
      top: 50%
      right: 0
      transform: translate(-20%,-50%)
  .opinions-search-button
    text-align: right
    margin-left: auto

#feedback
  label
    // font-size: 2.2rem
    // padding-right: 2rem
    // color: #333
  select
    width: 70%
    height: 50px
    border: 1px solid #f2f1f0
    font-size: 2.2rem
    color: #808080
    option
      background: #e0f9f5
      font-size: 2.2rem
      color: #333

  .input-group
    width: 30%

  .search-box
    position: relative
    width: 80%
    .search-icon
      position: absolute
      top: 50%
      right: 4%
      transform: translate(-50%, -50%)
  .search-num-box
    padding: 16px
    color: rgba(0,0,0,0.6)
    background: rgba(254, 204, 70, 0.2)
    margin-top: 3rem
    text-align: center
  .radio-box
    margin-top: 2rem
    margin-bottom: 2rem
    display: flex
    justify-content: flex-end
    align-items: center
    input[type='radio']
      cursor: pointer
      height: 18px
      width: 18px
      margin: -3px 5px 0px 16px
    label
      cursor: pointer
  .publish
    letter-spacing: 1px
    background: rgba(254,204,70,0.8)
    padding: 16px
    margin: 20px 0px
.opinions-choice
  margin: 2rem 0
  input[type='text']
    height: 50px
    width: 100%
    font-size: 2.2rem
    border: 1px solid #f2f1f0
  label
    font-size: 2.2rem
    padding-right: 2rem
    color: #333
  select
    width: 70%
    height: 50px
    border: 1px solid #f2f1f0
    font-size: 2.2rem
    color: #808080
    option
      background: #e0f9f5
      font-size: 2.2rem
      color: #333
  .search-box
    position: relative
    width: 100%
    margin-bottom: 1rem
  .search-icon
    position: absolute
    top: 50%
    right: 8%
    transform: translate(-50%, -50%)
  .progress-search
    text-align: right
    a
      position: relative
      height: 4.4rem
      display: inline-block
      transition: 1s ease-in-out
    img
      &:hover
        transform: scale(1.05)
    span
      position: absolute
      font-size: 2.2rem
      color: white
      top: 50%
      right: 12%
      transform: translateY(-50%)

.opinions-choice
  p
    font-size: 2.2rem
    color: #666
.content-box
  position: relative
  border-bottom: 2px solid #eee
  .appeal:nth-child(1)::after
    content: ''
    position: absolute
    top: 50%
    left: 100%
    transform: translateY(-50%)
    width: 2px
    height: 14rem
    background: #eee
  .appeal
    // border-bottom: 1px solid #eee
    display: flex
    padding-top: 2rem
    padding-bottom: 2rem
    .all-box
      min-width: 200px
      height: 15rem
      position: relative
      padding: 5px
      background: #fbfbfb
      .up-icon
        position: absolute
        top: 0
        left: 50%
        transform: translate(-50%,5%)
      .up-icon.other
        top: 15%
        left: 55%
      .down-title
        position: absolute
        bottom: 10%
        left: 50%
        transform: translate(-50%,15%)
      .down-title.other
        left: 47%
      .down-icon
        position: absolute
        bottom: 10%
        left: 80%
        transform: translate(-50%,15%)
      .down-icon.other
        left: 67%
    .content
      padding-left: 1rem
.opinion-down-box
  text-align: center
  .opinion-checkbox
    padding: 2rem 0
    display: flex
    align-items: center
    justify-content: center
    p
      margin: 0
  // button
  //   border: none
.message-box
  margin-bottom: 3rem
  table
    width: 100%
  td
    font-size: 1.8rem
    color: #333
    padding: 1.5rem 2rem 1.5rem 2rem
  thead
    background: #fecc46
    td
      font-weight: 500
    td.arrow
      min-width: 70px
    td:nth-child(1)
      width: 10rem
      text-align: center
      position: relative
      &::after
        position: absolute
        top: 50%
        right: 0
        transform: translate(0px,-50%)
        content: ''
        width: 2px
        height: 70%
        background: #fff
    td:nth-child(2)
      padding-left: 2rem
    td:nth-child(3)
      img
        margin-left: auto
  tbody
    transition: all 0.5s
    border-left: 1px solid #f3f0ec
    border-right: 1px solid #f3f0ec
    border-bottom: 1px solid #f3f0ec
    tr:nth-child(1)
      td:nth-child(1)
        position: relative
        &::after
          position: absolute
          top: 50%
          right: 0
          transform: translate(0px,-50%)
          content: ''
          width: 2px
          height: 70%
          background: #f3f0ec

    tr:nth-child(2),tr:nth-child(4)
      background: #f3f0ec
    tr:nth-child(3),tr:nth-child(5)
      td
        padding-bottom: 4rem
    tr:nth-child(6)
      td
        text-align: right
    &.active
      display: none
.circle
  width: 10px
  height: 10px
  padding-right: 5px
  background: #fecc46
  display: inline-block
  border-radius: 50%
#myModal
  .modal-content
    padding: 0 8rem
  .modal-dialog
    margin: 20vh auto !important
  h2
    font-size: 3.4rem
    color: #262727

  // .circle
  //   width: 10px
  //   height: 10px
  //   background: #fecc46
  //   display: inline-block
  //   border-radius: 50%      
  label
    padding-left: 3rem
    min-width: 14rem
  .modal-body div
    margin: 2rem 0
  input
    border: none
    background: #eee
    height: 50px
    width: 70%
  .pwd
    input
      width: 35%

  // button
  //   background: none
  //   border: none
  //   padding: 0 1rem
  .send
    text-align: center
.num-img
  min-width: 115px
.button-style
  background: none
  border: none
  padding: 0 1rem

.publish-title
  display: flex
  align-items: center
  margin-top: 2rem
  img
    margin-right: 1rem
  span
    font-size: 3.4rem
    color: #333
    position: relative
    padding-left: 2rem
  span::before
    content: ''
    width: 5px
    height: 4rem
    background: #98EADD
    display: inline-block
    position: absolute
    top: 50%
    left: 0
    transform: translate(0,-50%)
//comment 頁面 

#feedback
  .determine
    border: none
    background: none

.table-box
  // display: none
  margin-top: 10rem
  // padding-left: 8rem
  .TicketNumberOuter
    flex-direction: column
    align-items: flex-start
    button
      margin-left: 10px
      border: none
      background: transparent
      font-size: 2rem
      color: #000
      transition: .2s
      &:hover
        color: #fecc46
    .TicketNumberGroup
      .TicketNumberItem
        display: flex
        align-items: center
        margin-top: 10px

  &>div
    display: flex
    align-items: center
    margin: 3rem 0
  .other-textarea
    align-items: flex-start
  textarea
    border: none
    background: #f3f3f3
  .list-title
    font-size: 2.2rem
    min-width: 12rem
    display: inline-block
  label
    font-size: 2.2rem
    margin-left: 1rem
    margin-right: 3rem
    margin-bottom: 0
  input[type='text'],input[type='email'],input[type='url'],select
    border: none
    background: #f3f3f3

  input[type='checkbox']
    width: 2rem
  input.captcha-input
    margin-right: 1rem
  input,select
    height: 5rem
  select
    font-size: 2.2rem
    option
      font-size: 2.2rem
  .radio-box
    display: flex
    align-items: center
    padding-left: 0
  .select-1
    margin-right: 1rem
  .select-2
    margin-left: 1rem
  .input-adr
    width: calc(100% - 12rem)
    margin-left: auto
    margin-top: 3rem
  .label-file-data,.label-file-video
    position: relative
    cursor: pointer
    padding-left: 0
    margin-left: 0
    #file-data,#file-video
      width: 1px
      height: 1px
      // position: absolute
      top: 43%
      left: 37%
      transform: translateY(-50%)
  .file-src
    font-size: 2.2rem
    vertical-align: middle
    margin: 0 1rem
  .file-p
    width: calc(100% - 12rem)
    margin-left: auto
    padding: 0 15px
  .note-list
    border: 1px solid #f3f3f3
    padding: 3rem
    display: block
    margin-top: 2rem
    .note-checkbox-box
      display: inline-block
      margin: auto
      background: #666666
      padding: 1rem
      font-size: 2.2rem
      color: #fff
    .note-label-box
      display: flex
      justify-content: center
      margin-top: 3rem
    input[type='checkbox']
      height: auto
      margin-right: 1rem
      width: 2.2rem
      height: 2.2rem
  .send
    justify-content: center
.table-box.search-results-table
  margin-top: 4rem
  label
    color: #808080
  p
    font-size: 2.2rem
    color: #808080

.modal.i-publish
  .modal-content
    position: relative
    .modal-logo
      position: absolute
      top: -1%
      left: 10%
  .logo-box
    position: relative
    span
      font-size: 2.2rem
      position: absolute
      top: 15%
      left: 50%
      transform: translateX(-50%)

  .modal-body
    padding: 8rem 0 3rem 0
  .modal-textarea
    textarea
      border: 1px solid #f3f3f3
