.st0
  fill: #F2F1F0
  stroke: #808080
  stroke-miterlimit: 10
.st1
  fill: none
.st2
  font-family: 'SourceHanSansTW-Regular-B5pc-H'
.st3
  font-size: 24px
.st4
  letter-spacing: 1
.st5
  font-size: 16px
.st0.active
  fill: #98eadd
.svg-box
  position: relative
  min-height: 2.5rem
  margin-top: 1rem
  width: 85%
  margin-left: 5rem
.svg-box.svg-box-mobile
  margin-left: 1rem
.svg-menu-1
  width: 33.3%
  position: absolute
  top: 0
  left: 0
  z-index: 3
.svg-menu-2
  width: 66.6%
  position: absolute
  top: 0
  left: 0
  z-index: 2
.svg-menu-3
  position: absolute
  top: 0
  left: 0
  z-index: 1
.svg-menu-mobile-1
  position: absolute
  top: 0
  left: 0
  width: 35%
  z-index: 3
.svg-menu-mobile-2
  position: absolute
  top: 0
  left: 30%
  width: 35%
  z-index: 2
.svg-menu-mobile-3
  position: absolute
  top: 0
  left: 60%
  width: 35%
  z-index: 1
