/* ANIMATIONS */
  
@keyframes fade-in
  0%
    opacity: 0
    transform: scaleY(0.8) translateX(-40%)

  100% 
    opacity: 1
    transform: scaleY(1) translateX(-40%)


@keyframes expand-box
  0% 
    transform: translateY(-8px)
    opacity: 0.4
  
  100%
    transform: translateY(0)
    opacity: 1