@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC:100,300,400,500,700,900&display=swap')
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&display=swap')
@font-face
  font-family: 'NotoSansCJKtc'
  src: url('/static/css/fonts/NotoSansCJKtc-Regular.otf')


*,
*::after,
*::before
  margin: 0
  padding: 0
  box-sizing: border-box

html
  font-size: 62.5%
  
body 
  box-sizing: border-box
  font-family: 'NotoSansCJKtc', "Arial", -apple-system, "Microsoft JhengHei", sans-serif
  font-size: 1.4rem
  font-weight: 300

.app
  overflow: hidden
  position: relative

a
  &:hover 
    text-decoration: none

img 
  max-width: 100%


.container-custom
  width: 100%
  max-width: 91.5% !important
  margin-left: auto
  margin-right: auto
  

// Additional Utility
h1, h2, h3, h4, h5, h6 
  color: $color-text-primary
  margin-bottom: 0

.mt-lg 
  margin-top: 60px

.mt-xlg
  margin-top: 90px

.mt-xxlg 
  margin-top: 140px

.no-padding
  padding: 0


// Border Radius
.br-sm
  border-radius: 4px

.br-md
  border-radius: 10px

.br-lg
  border-radius: 30px


  
// Main content area wrap for most content pages 
.main-content-wrap
  position: relative
  
.main-content
  padding: 0 0 40px
  min-height: calc(100vh - 100px)
  background: #ffffff
  .container.inner
    max-width: 1600px !important
  &.no-padding
    padding: 0

  ul
    margin-top: 10px
    li
      font-size: 1.6rem
      color: $font-dark-faded 

  p
    margin-top: 15px
    font-size: 1.6rem
    color: $font-dark-faded
    font-weight: 400
    
  .content-area
    min-height: 40vh
    margin-top: 25px
    margin-bottom: 100px

  .text-content
    font-size: 1.6rem
    line-height: 27px
    text-align: justify
    margin-top: 30px

    &.no-padding
      margin-top: 5px


// detail page 
.detail-page
  font-size: 1.6rem
  color: $font-dark-faded
  font-weight: 300

.ellipsis
  white-space: nowrap
  text-overflow: ellipsis
  overflow: hidden


// font weight
.fw-100
  font-weight: 100
.fw-200
  font-weight: 200
.fw-300
  font-weight: 300
.fw-400
  font-weight: 400
.fw-500
  font-weight: 500
.fw-600
  font-weight: 600
.fw-700
  font-weight: 700
.fw-800
  font-weight: 800
.fw-900
  font-weight: 900



// // SLICK
// .slick-dots li.slick-active button:before
//   color: #569946 
//   content: '\25CF' 
//   font-size: 1.4rem 

// .slick-dots li button:before
//   content: '\25CF' 
//   font-size: 1.1rem 
//   color: #5b616c 
//   opacity: 1 

// ul.slick-dots
//   display: flex !important
//   left: 50%
//   transform: translateX(-50%)
//   width: auto
//   li
//     list-style: none
//     display: inline
    

// grid and gallery
.grid-section
  img
    width: 100%
    margin-bottom: 100px

  .img-title
    margin-top: 10px
    font-size: 2rem
    font-weight: 500
    color: $font-dark

  .img-viewcount
    font-size: 1.6rem
    font-weight: 300
    color: $font-dark-faded



// cards 
.card
  .card-body
    color: $font-dark
    .card-title
      font-size: 2rem
      font-weight: 500
      border-bottom: 1px solid $font-dark-faded
      padding-bottom: 5px

    .card-subtitle
      font-size: 1.2rem
      color: $font-dark-faded
      font-weight: 300

    .card-text 
      font-weight: 300
      font-size: 1.6rem

      span
        font-weight: 500


// removing scroll bar visual
::-webkit-scrollbar  
  //display: none

.image-fluid
  width: 100% !important
  height: auto !important
  margin: auto !important

  &.not-found
    object-fit: contain !important
    width: 80% !important

//accesskey
.sr-only
  background: #ffffff
  border: 2px solid $color-link !important
  padding: 5px 10px !important
  display: inline-block
  z-index: 7
  border-radius: 10px
  color: $color-link
  position: absolute !important
.f-alige-center
  display: flex
  align-items: center
.theme-a
  color: rgba(0,164,165,0.8)
  &:hover
    color: rgba(0,164,165,1)
    
