@media screen and ( max-width: 1500px )
  .banner-inner
    &::before
      height: 260px
@media screen and ( max-width: 1300px )
  .banner-inner
    &::before
      height: 200px
@media screen and ( max-width: 1200px )
  #products
    .book-box-all
      padding-left: 2rem
      padding-right: 2rem
  #videos
    .video-img-box-all
      padding-right: 2rem
      padding-left: 2rem
      margin: 2rem 0
    .video-img-box
      height: 40vh
  .index-iframe
    height: 55rem
@media screen and ( max-width: 1024px )
  .index-iframe
    height: 42rem
@media screen and ( max-width: 992px )
  .banner-inner
    opacity: 0.2
    &::before
      content: none
  .feedback-choice .opinions-search-button
    text-align: left
    margin-left: auto
    margin-bottom: 1rem
  #feedback
    .select-box ,.search-box
      margin-top: 1rem
    .search-box
      width: 100%
      .search-icon
        right: 23%
      label
        opacity: 0

  #products
    .book-box
      height: 30rem
  //768px
@media only screen and (max-width: 768px)
  .index-iframe
    height: 25rem
  #videos-detail
    .video-iframe
      iframe
        height: 45rem
  #videos
    .video-img-box-all
      padding-right: 1rem
      padding-left: 1rem
      margin: 2rem 0
    .video-img-box
      height: 35vh
  .svg-box
    width: 100%
    margin-left: 0
  header#header
    height: 60px
    .main-logo
      margin-bottom: 6px

  .wrapper-image
    margin-top: -20vw
  section#home-banner
    margin-top: 77px
    .banner-wrap
      .banner-image
        padding: 20px
        height: 56vh !important
      h2
        color: #ffffff
        font-size: 4rem
        font-weight: 300
        margin-bottom: 0
        letter-spacing: 2px
        span
          font-size: 1.8rem
      p
        font-size: 3.3rem
  .slider-line
    top: -88%
    .white-line
      height: 2vw
      border: solid 1px white
    .blue-line
      height: 10vw
      border: solid 1px #4569a3

  .video-title
    h2
      font-size: 1.5rem

  .modal-dialog
    max-width: 768px !important
    margin: 5.75rem auto !important
  .modal-content
    .close
      right: 15px
  .modal-news-tab
    width: 20%
    height: 6vw
  .modal-header
    margin-top: 9%
  footer
    .footer-icon
      width: 15px
      height: 15px
  .news-btns
    button
      width: 40% !important
  .additional-section
    .wrapper-green-left
      top: -12%
      padding: 3%
      left: 3%
    .wrapper-green-right
      left: 39%
      top: -12%
      padding: 3%
  #feedback
    select
      width: 80%

    .search-box
      width: 100%
      label
        opacity: 0
      .search-icon
        right: 13%
    input[type='text']
      width: 80%
  .feedback-choice
    .opinions-search-button
      text-align: center
    .everyone-talk , .my-talk
      .talk-font-mobile
        word-break: keep-all
        position: absolute
        font-size: 1.4rem
        color: #333333
        bottom: 0%
        left: 50%
        transform: translate(-50%,-40%)
    .opinions-search-button
      padding-bottom: 2rem
  #myModal
    .modal-content
      text-align: center
      padding: 0
    .modal-dialog
      padding: 1.5rem
    input
      width: 90%
    .pwd
      input
        width: 90%
    .pwd img,.pwd button
      margin-top: 1rem
  //comment 頁面 

  #feedback
    .mobile-style
      justify-content: center
    .determine
      margin: 1rem 0
  .table-box
    margin-top: 2rem
    label
      font-size: 2.2rem
      margin-left: 1rem
      margin-right: 1rem
    input[type='radio']
      margin-left: 0rem
      height: 2rem
    .other
      align-items: unset
      margin-top: 1rem
      .list-title
        margin: 0
    .radio-box
      display: block
      align-items: unset
    .captcha-title
      width: 100%
    .note-list
      .note-checkbox-box
        font-size: 1.6rem
      input[type='checkbox']
        width: 1.6rem
        height: 1.6rem
  .modal.i-publish
    .modal-body
      padding: 3rem 0 3rem 0
    .modal-textarea
      padding: 3rem 2rem 0rem 2rem
  .planned-speed
    margin-left: 0
  #products
    .book-box-all
      width: 200px
  .menu-page
    justify-content: center
    text-align: center
  .footer-page-style
    .arrow
      &::before
        height: 70px

@media screen and ( max-width: 767px )
  .table-box
    .select-1
      margin-right: 0
    .select-2
      margin-left: 0
      margin-top: 1rem
    .input-adr
      width: 100%
      margin-top: 1rem
    .captcha-input
      margin-bottom: 1rem

@media screen and ( max-width: 600px )
  section#home-banner
    margin-top: 40px
@media screen and ( max-width: 576px )
  .api-search-input-box
    width: 100%
  #Products
    .product-intro
      width: auto
  #videos-detail
    .video-iframe
      iframe
        height: 25rem
  #videos
    .video-img-box-all
      padding-right: 1rem
      padding-left: 1rem
      margin: 2rem 0
    .video-img-box
      height: 45vh
  .menu-page
    a
      margin: 0
    svg
      width: 90%
  ul.pagination
    li a ,li.next a
      // padding: 5px
    li.break
      display: none
    li.previous a ,li.next a
      font-size: 1.6rem
      font-weight: 400
    li.next ,li.previous
      min-width: 6.4rem
      padding-left: 2px
      padding-right: 2px
  ul.pagination li
    margin: 0
  .message-box thead td:nth-child(1)
    width: 8rem
  #feedback
    label
      font-size: 1.6rem
    select
      height: 30px
      font-size: 1.6rem
    .select-box
      padding-right: 15px
    .appeal
      flex-direction: column
      .all-box .down-icon
        left: 70%
      .all-box .down-title.other
        left: 50%
  .opinions-choice
    input[type='text']
      height: 30px
      font-size: 1.6rem
  .table-box .send
    margin-top: 2rem
  .publish-title
    span
      font-size: 2.2rem
  #myModal
    label
      min-width: 8rem
      padding-left: 0
      padding-right: 0

    .send button
      padding: 1rem 0.2rem
  //comment 頁面 
  .table-box
    margin-top: 2rem
    &>div
      display: flex
      align-items: center
      margin-top: 0rem
      margin-bottom: 0
    .list-title
      font-size: 1.6rem
      min-width: unset
      display: inline-block
      margin: 1rem 0
    label
      font-size: 1.6rem
      margin-left: 0rem
      margin-right: 0rem
    input,select
      border: none
      height: 3rem
      background: #f3f3f3
    input[type='radio']
      margin-left: 1rem
      // height: 2rem
    .other
      align-items: unset
      margin-top: 1rem
      .list-title
        margin: 0
    // .radio-box
    //   display: block
    //   align-items: unset
    select
      font-size: 1.6rem
      option
        font-size: 1.6rem
    .select-1
      margin-right: 0
    .select-2
      margin-top: 1rem
      margin-left: 0
    .input-adr
      width: 100%
      margin-left: auto
      margin-top: 1rem
    .label-file-data,.label-file-video
      padding: 0

      #file-data,#file-video
        width: 1px
        height: 1px
        position: absolute
        top: 43%
        left: 37%
        transform: translateY(-50%)
    .file-src
      font-size: 1.6rem
    .file-p
      width: auto
      margin-left: 0
      padding: 0
  .table-box.search-results-table
    padding-left: 2rem
    & > div
      align-items: center
    .list-title
      min-width: 10rem
    p
      margin-top: 1rem
      font-size: 1.6rem
  #products
    .book-box-all
      padding-left: 1rem
      padding-right: 1rem
    .book-box
      height: 20rem
    .sub-title
      text-align: center
  .opinions-choice
    label
      font-size: 1.6rem
      padding-right: 0.5rem
    select
      height: 30px
      font-size: 1.6rem
    .search-icon
      right: 4%
      img
        max-width: 75%
    p
      font-size: 1.6rem
    .select-box
      padding-right: 0
@media only screen and (max-width: 414px)
  .home-siler-dots
    position: relative
    .slick-dots
      bottom: 10%

  .div
    font-size: auto
  .lastest-video
    //margin: 0px 70px
  .big-wrapper-green

  .additional-section
    .wrapper-green
      flex-direction: column
      img
        width: 80%
      .additional-section
    .wrapper-green-left
      left: 3.5%
      top: -7%
    .wrapper-green-right
      left: 54%
      top: -7%

    .wrapper-facebook
      // padding-left: 70px
  .wrapper-facebook
    // padding-left: 73px
  .slider-line
    top: -130%
    .white-line
      height: 3vw
    .blue-line
      height: 12vw
    nav.mobile
      font-size: 2.2rem
  section#MobileChangeFontSize
    .info-bar-mobile-size
      width: 35px
      height: 35px
      font-size: 2rem
  .mobile-nav-wrap
    .info-bar-mobile-icon
      width: 35px
  .mobile-nav-wrap
    .mobile-nav-langues span
      font-size: 2.5rem
  .modal-news-tab
    width: 25%
    height: 11vw
  .modal-img
    flex-direction: column
    img
      width: 100% !important
  .modal-footer
    button
      width: 15%
      margin-bottom: 5%
  .section05
    .icon-wrapper
      p
        font-size: 2.2rem
  .feedback-choice
    .everyone-talk , .my-talk
      .talk-font-mobile
        position: absolute
        font-size: 1.2rem
        color: #333333
        bottom: 0%
        left: 50%
        transform: translate(-50%,-40%)
@media only screen and (max-width: 375px)
  .mobile
    .nav-list
      .nav-item
        font-size: 1.8rem
  .slider-line
    top: -600%
    .white-line
      height: 4vw
    .blue-line
      height: 16vw

  .wrapper-image
    margin-top: -46vw
  .video-title
    h2
      font-size: 1.2rem

  .mobile-lastest-video
    .mobile-news
      background-color: #fff
  .additional-section
    .wrapper-green-left
      left: 4.5%
      top: -6%
    .wrapper-green-right
      left: 53.5%
      top: -6%
@media only screen and (max-width: 320px)
  .mobile-lastest-video
    .mobile-news

  nav.mobile
    margin: 50px 50px 25px 50px
  .mobile-nav-wrap
    .info-bar-mobile-icon
      width: 25px
  section#MobileChangeFontSize
    .info-bar-mobile-size
      width: 25px
      height: 25px
      font-size: 1.5rem
      padding: 0px 0px
  .slider-line
    top: -500%
  .modal-news-tab
    width: 27%
    height: 14vw
  .modal-footer
    button
      width: 20%
  .additional-section
    .wrapper-green-left
      top: -5%
    .wrapper-green-right
      top: -5%
  .feedback-choice
    .everyone-talk , .my-talk
      .talk-font-mobile
        position: absolute
        font-size: 1.2rem
        color: #333333
        bottom: 0%
        left: 47%
        transform: translate(-43%,-40%)
  #feedback .search-box .search-icon
    right: 5%
  #videos
    .video-img-box
      height: 35vh
  #videos-detail
    .video-iframe
      iframe
        height: 20rem
